@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* fuentes principales */
/* paletas de color */
/* media queries */
/* estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

main {
  height: auto;
}

h2 > span {
  color: #5C8EF2;
}

p > span {
  color: #5C8EF2;
}

div > p {
  position: relative;
  line-height: 140%;
}

.button-theme {
  display: none;
}

/* contenedor general */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  color: #FFF;
}

.wrapper::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button--green {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  margin: 15px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  color: #FFF;
  background-color: #00BB2D;
}
@media (prefers-color-scheme: dark) {
  .button--green {
    box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
    background-color: #00A327;
  }
}
.button--green a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.133rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.button--green i {
  position: absolute;
  right: 40px;
}

.button--green:hover {
  background-color: #5EBB74;
}
@media (prefers-color-scheme: dark) {
  .button--green:hover {
    background-color: #00801F;
  }
}

.arrow-drop-down {
  position: absolute;
  bottom: 10px;
  align-self: center;
  font-size: 24px;
}

.fecha {
  position: relative;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
.fecha p {
  margin-bottom: 5px;
  padding: 0 20px;
  font-size: 1.8rem;
  color: #5C8EF2;
}
.fecha__main {
  padding: 5px 0;
  font-size: 1.8rem;
  background-color: #03658C;
}
@media (prefers-color-scheme: dark) {
  .fecha__main {
    background-color: #545454;
  }
}
.fecha__main span {
  color: #FFF;
}

.breadcrumbs {
  display: inline-block;
  margin: 75px 0 5px 0;
  padding-left: 20px;
}
.breadcrumbs__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumbs__nav a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
.breadcrumbs__nav a::after {
  content: "►";
  font-size: 1.2rem;
  margin: 0 5px;
}
.breadcrumbs__nav a:last-child::after {
  display: none;
}
.breadcrumbs a:hover {
  color: #5C8EF2;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding-top: 165px;
  }

  .breadcrumbs {
    margin-top: 125px;
    padding-left: 30px;
  }
  .breadcrumbs__nav a {
    font-size: 2.1rem;
  }
  .breadcrumbs__nav a::after {
    font-size: 2rem;
  }

  .button--green {
    height: 50px;
    width: 466px;
    margin: 0 auto 40px auto;
  }
  .button--green a {
    font-size: 2.843rem;
  }
  .button--green i {
    font-size: 2.843rem;
  }

  .arrow-drop-down {
    font-size: 37px;
  }

  .fecha p {
    margin-bottom: 10px;
    font-size: 2.1rem;
    color: #FFF;
  }
  .fecha__main {
    padding: 10px 0;
    font-size: 2.843rem;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 100px;
  }

  .breadcrumbs {
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 42px;
  }

  .button--green {
    margin: 0 auto 30px auto;
  }

  .arrow-drop-down {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    padding-top: 95px;
  }
}
body {
  background-color: #011526;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0D0D0D;
  }
}

header {
  width: 100vw;
  position: relative;
}
header .burger-menu {
  position: fixed;
  z-index: 3;
  right: 20px;
  top: 20px;
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  color: #FFF;
  background-color: #03658C;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  header .burger-menu {
    background-color: #012E40;
  }
}
header .header--up {
  display: flex;
  position: fixed;
  top: 15px;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  background-color: #011526;
}
@media (prefers-color-scheme: dark) {
  header .header--up {
    background-color: #0D0D0D;
  }
}
header .header--up__logo {
  display: flex;
  align-items: center;
  width: 160px;
  height: auto;
  align-self: center;
}
header .header--up__logo img {
  width: 100%;
}
header .header--up__nav--desktop {
  display: none;
  width: 75%;
}
header .header--up__nav--desktop .header__menu--desktop {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
header .header--up__nav--desktop .header__menu--desktop li {
  list-style: none;
}
header .header--up__nav--desktop .header__menu--desktop li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.13rem;
  text-decoration: none;
  color: #FFF;
}
header .header--up__nav--desktop .header__menu--desktop li a:hover {
  color: #5C8EF2;
}
header .header {
  display: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #03658C;
  opacity: 0;
  transition: 0.3s;
}
@media (prefers-color-scheme: dark) {
  header .header {
    background-color: #012E40;
  }
}
header .header__nav--mobile {
  display: none;
  flex-direction: column;
  margin-top: 95px;
}
header .header__nav--mobile .header__menu--mobile {
  margin-bottom: 45px;
  font-size: 2.1rem;
  font-weight: bold;
  list-style: none;
  border-left: 2px solid #FFF;
}
header .header__nav--mobile .header__menu--mobile li {
  margin: 0 0 25px 20px;
}
header .header__nav--mobile .header__menu--mobile li:nth-of-type(6) {
  margin-bottom: 0;
}
header .header__nav--mobile .header__menu--mobile li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #FFF;
}
header .header__nav--mobile .header__menu--mobile a:hover {
  color: #8DAEF2;
}
header .header__menu--secondary {
  list-style: none;
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
}
header .header__menu--secondary li {
  margin-bottom: 5px;
}
header .header__menu--secondary li a {
  color: #8DAEF2;
}
header .header__menu--secondary li a:hover {
  color: #FFF;
}
header .header .imagotipo {
  display: none;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 84px;
}
header .header .imagotipo img {
  width: 98px;
  height: 98px;
}
header .header--up.is-active {
  display: none;
}
header .header.is-active {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
}
header .header.is-active .header__nav--mobile {
  display: flex;
}
header .header.is-active .burger-menu {
  display: block;
}
header .header.is-active .imagotipo {
  display: flex;
}

@media only screen and (min-width: 768px) {
  header .burger-menu {
    right: 55px;
    top: 55px;
    font-size: 37.5px;
    padding: 6.25px;
  }
  header .header--up {
    top: 30px;
    height: 75px;
    padding: 0 55px;
  }
  header .header--up__logo {
    width: 243px;
  }
  header .header {
    padding: 0 30px;
  }
  header .header__nav--mobile {
    margin-top: 131px;
  }
  header .header__nav--mobile .header__menu--mobile {
    margin: 0 0 50px 50px;
    font-size: 3.79rem;
  }
  header .header__nav--mobile .header__menu--mobile li {
    margin: 0 0 40px 50px;
  }
  header .header__menu--secondary {
    margin-left: 100px;
    font-size: 2.843rem;
  }
  header .header__menu--secondary li {
    margin-bottom: 10px;
  }
  header .header .imagotipo {
    margin-bottom: 0px;
  }
  header .header .imagotipo img {
    width: 222px;
    height: 222px;
  }
}
@media only screen and (min-width: 1024px) {
  header .burger-menu {
    display: none;
  }
  header .header--up {
    top: 0;
    height: 75px;
    padding: 0 42px;
  }
  header .header--up__logo {
    width: 172px;
  }
  header .header--up__nav--desktop {
    display: flex;
  }
  header .header--up .burger-menu {
    display: none;
  }
  header .header .burger-menu {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  header .header--up__nav--desktop {
    width: 80%;
  }
}
.hero__title {
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
}
.hero__title h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.79rem;
  font-weight: bold;
  line-height: 120%;
}
.hero__title span {
  color: #5C8EF2;
}
.hero__saludo {
  display: flex;
  position: relative;
  height: 45px;
  margin-bottom: 20px;
  place-items: center;
  background-color: #03658C;
}
@media (prefers-color-scheme: dark) {
  .hero__saludo {
    background-color: #141414;
  }
}
.hero__saludo h2 {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.843rem;
  text-align: center;
}
.hero__subtitle {
  margin-bottom: 13px;
}
.hero__subtitle h3 {
  position: relative;
  text-align: center;
  font-size: 2.1rem;
  padding: 0 55px;
}
@media (prefers-color-scheme: dark) {
  .hero__subtitle h3 {
    color: #8DAEF2;
  }
}
.hero__parrafo--button {
  margin: 0 20px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background: #03658c;
  background: linear-gradient(180deg, rgba(3, 101, 140, 0.3) 0%, rgba(3, 101, 140, 0) 100%);
}
@media (prefers-color-scheme: dark) {
  .hero__parrafo--button {
    background: #afafaf;
    background: linear-gradient(180deg, rgba(175, 175, 175, 0.3) 0%, rgba(175, 175, 175, 0) 100%);
  }
}
.hero__parrafo--button p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 140%;
}

.hero::before {
  background-image: url("../assets/img/2x/mobile_gray@2x.png");
  opacity: 0.15;
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    padding-top: 165px;
  }
  .hero__title {
    max-width: inherit;
    padding: 0 30px;
    margin-bottom: 60px;
  }
  .hero__title h1 {
    font-size: 6.734rem;
  }
  .hero__saludo {
    height: 90px;
    margin-bottom: 25px;
  }
  .hero__saludo h2 {
    font-size: 5.052rem;
  }
  .hero__subtitle {
    margin-bottom: 25px;
  }
  .hero__subtitle h3 {
    padding: 0 131px;
    font-size: 3.79rem;
  }
  .hero__parrafo--button {
    margin: 0 30px 44px 30px;
  }
  .hero__parrafo--button p {
    font-size: 2.4rem;
  }

  .hero::before {
    background-image: url("../assets/img/2x/tablet_gray@2x.png");
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding-top: 104px;
  }
  .hero__title {
    max-width: 1000px;
    margin-bottom: 20px;
    padding: 0 0 0 42px;
  }
  .hero__title h1 {
    font-size: 5.017rem;
  }
  .hero__saludo {
    height: 60px;
    margin-bottom: 20px;
  }
  .hero__saludo h2 {
    font-size: 2.843rem;
  }
  .hero__subtitle {
    margin-bottom: 20px;
  }
  .hero__subtitle h3 {
    font-size: 2.843rem;
  }
  .hero__parrafo--button {
    max-width: 850px;
    padding: 0;
    margin: 0 auto 15px auto;
    background: none;
  }
  .hero__parrafo--button p {
    font-size: 1.8rem;
  }

  .hero::before {
    background-image: url("../assets/img/2x/desktop_gray@2x.png");
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title h1 {
    font-size: 6.734rem;
  }
  .hero__saludo h2 {
    font-size: 3.79rem;
  }
  .hero__subtitle h3 {
    font-size: 2.843rem;
  }
  .hero__parrafo--button {
    max-width: 950px;
  }
  .hero__parrafo--button p {
    font-size: 2.4rem;
  }
}
.modelo__title {
  position: relative;
  padding: 0 20px;
  margin-bottom: 15px;
  text-align: center;
}
.modelo__title h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.316rem;
  line-height: 120%;
}
.modelo__title span {
  color: #5C8EF2;
}
.modelo__main__parrafo {
  position: relative;
  display: flex;
  height: auto;
  margin-bottom: 20px;
}
.modelo__main__parrafo p {
  min-width: 296px;
  max-width: 78vw;
  padding: 5px 20px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  background-color: rgba(3, 101, 140, 0.5);
}
@media (prefers-color-scheme: dark) {
  .modelo__main__parrafo p {
    box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
    background-color: rgba(20, 20, 20, 0.5);
  }
}
.modelo__main .one p {
  line-height: 120%;
  font-weight: bold;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.modelo__main .two {
  position: relative;
  justify-content: flex-end;
  text-align: right;
}
.modelo__main .two p {
  line-height: 140%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.modelo__main__subtitle {
  position: relative;
  margin-top: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.133rem;
  font-weight: bold;
  text-align: center;
}

.modelo::before {
  background-image: url("../assets/img/2x/medicos-mobile@2x-80.jpg");
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .modelo {
    padding-top: 165px;
  }
  .modelo__title {
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .modelo__title h2 {
    font-size: 6.734rem;
  }
  .modelo__main__parrafo {
    margin-bottom: 30px;
  }
  .modelo__main__parrafo p {
    max-width: 90vw;
    padding: 20px 30px;
    font-size: 2.843rem;
  }
  .modelo__main__subtitle {
    margin: 0 0 20px 0;
    font-size: 3.79rem;
  }

  .modelo::before {
    background-image: url("../assets/img/2x/medicos_tablet@2x-80.jpg");
  }
}
@media only screen and (min-width: 1024px) {
  .modelo {
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
  }
  .modelo__title {
    width: 50%;
    margin: 0 0 0 42px;
    padding: 0;
  }
  .modelo__title h2 {
    font-size: 5.017rem;
  }
  .modelo__main {
    width: 50%;
    margin: 0 42px 0 32px;
  }
  .modelo__main__parrafo {
    margin-bottom: 20px;
  }
  .modelo__main__parrafo p {
    padding: 10px 20px;
    border-radius: 0;
    text-align: center;
    font-size: 2.138rem;
  }
  .modelo__main .one p {
    border-radius: 0;
  }
  .modelo__main .two {
    margin-top: 20px;
  }
  .modelo__main .two p {
    border-radius: 0;
  }
  .modelo__main__subtitle {
    margin: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.843rem;
  }

  .modelo::before {
    background-image: url("../assets/img/2x/medicos_desktop@2x-80.jpg");
  }
}
@media only screen and (min-width: 1280px) {
  .modelo__title h2 {
    font-size: 6.734rem;
  }
  .modelo__main__parrafo {
    margin-bottom: 30px;
  }
  .modelo__main__parrafo p {
    padding: 20px;
    font-size: 2.4rem;
  }
  .modelo__main__subtitle {
    font-size: 3.79rem;
  }
}
.entrenamiento {
  text-align: center;
}
.entrenamiento__title {
  padding: 0 60px;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", sans-serif;
}
.entrenamiento__title h2 {
  font-size: 3.79rem;
  line-height: 120%;
}
.entrenamiento__main__parrafo--one {
  margin-bottom: 20px;
  padding: 0 60px;
}
.entrenamiento__main__parrafo--one p {
  font-size: 1.6rem;
  font-weight: bold;
}
.entrenamiento__main__parrafo--two {
  margin-bottom: 20px;
  padding: 0 60px;
}
.entrenamiento__main__parrafo--two p {
  font-size: 1.6rem;
}
.entrenamiento__main__parrafo--three {
  margin-bottom: 15px;
  padding: 0 20px;
}
.entrenamiento__main__parrafo--three p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
.entrenamiento__main__parrafo--four {
  padding: 0 20px;
}
.entrenamiento__main__parrafo--four p {
  font-size: 1.2rem;
}

.entrenamiento::before {
  background-image: url("../assets/img/2x/mobile_gray@2x.png");
  opacity: 0.15;
}

@media only screen and (min-width: 768px) {
  .entrenamiento {
    padding-top: 155px;
  }
  .entrenamiento__title {
    padding: 0 150px;
    margin-bottom: 50px;
  }
  .entrenamiento__title h2 {
    font-size: 6.734rem;
  }
  .entrenamiento__main__parrafo--one {
    padding: 0 84px;
    margin-bottom: 40px;
  }
  .entrenamiento__main__parrafo--one p {
    font-size: 3.79rem;
  }
  .entrenamiento__main__parrafo--two {
    padding: 0 133px;
    margin-bottom: 45px;
  }
  .entrenamiento__main__parrafo--two p {
    font-size: 2.1rem;
  }
  .entrenamiento__main__parrafo--three {
    padding: 0 30px;
    margin-bottom: 15px;
  }
  .entrenamiento__main__parrafo--three p {
    font-size: 2.843rem;
  }
  .entrenamiento__main__parrafo--four {
    padding: 0 133px;
    margin-bottom: 20px;
  }
  .entrenamiento__main__parrafo--four p {
    font-size: 2.1rem;
  }

  .entrenamiento::before {
    background-image: url("../assets/img/2x/tablet_gray@2x.png");
  }
}
@media only screen and (min-width: 1024px) {
  .entrenamiento {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .entrenamiento__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    padding: 0;
    margin-right: 42px;
    border-left: 1px solid #FFF;
    background: #012e40;
    background: linear-gradient(90deg, #012e40 0%, #011526 100%);
  }
}
@media only screen and (min-width: 1024px) and (prefers-color-scheme: dark) {
  .entrenamiento__title {
    background: #141414;
    background: linear-gradient(90deg, #141414 0%, #141414 100%);
  }
}
@media only screen and (min-width: 1024px) {
  .entrenamiento__title h2 {
    font-size: 5.017rem;
  }
}
@media only screen and (min-width: 1024px) {
  .entrenamiento__main {
    width: 50%;
    margin-left: 42px;
    padding-right: 15px;
  }
  .entrenamiento__main__parrafo--one {
    padding: 0;
    margin-bottom: 20px;
  }
  .entrenamiento__main__parrafo--one p {
    font-size: 2.132rem;
  }
  .entrenamiento__main__parrafo--two {
    padding: 0;
    margin-bottom: 20px;
  }
  .entrenamiento__main__parrafo--two p {
    font-size: 1.8rem;
  }
  .entrenamiento__main__parrafo--trhee {
    padding: 0;
    margin: 20px;
  }
  .entrenamiento__main__parrafo--trhee p {
    font-size: 2.132rem;
  }
  .entrenamiento__main__parrafo--four {
    padding: 0;
    margin-bottom: 15px;
  }
  .entrenamiento__main__parrafo--four p {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .entrenamiento::before {
    background-image: url("../assets/img/2x/desktop_gray@2x.png");
  }
}
@media only screen and (min-width: 1280px) {
  .entrenamiento {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .entrenamiento__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    padding: 0;
    margin-right: 42px;
    border-left: 1px solid #FFF;
  }
  .entrenamiento__title h2 {
    font-size: 6.739rem;
  }
  .entrenamiento__main {
    width: 50%;
    margin-left: 42px;
    padding-right: 15px;
  }
  .entrenamiento__main__parrafo--one {
    padding: 0;
    margin-bottom: 20px;
  }
  .entrenamiento__main__parrafo--one p {
    font-size: 3.79rem;
  }
  .entrenamiento__main__parrafo--two {
    padding: 0;
    margin-bottom: 20px;
  }
  .entrenamiento__main__parrafo--two p {
    font-size: 2.1rem;
  }
  .entrenamiento__main__parrafo--trhee {
    padding: 0;
    margin: 20px;
  }
  .entrenamiento__main__parrafo--trhee p {
    font-size: 2.843rem;
  }
  .entrenamiento__main__parrafo--four {
    padding: 0;
    margin-bottom: 15px;
  }
  .entrenamiento__main__parrafo--four p {
    font-size: 1.8rem;
  }
}
.desarrollador {
  text-align: center;
}
.desarrollador__title {
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
}
.desarrollador__title h2 {
  text-align: center;
  font-size: 3.79rem;
}
.desarrollador__subtitle {
  padding: 0 50px;
  margin-bottom: 15px;
}
.desarrollador__subtitle p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.desarrollador__table {
  position: relative;
  margin: 0 20px;
  font-size: 1.6rem;
}
.desarrollador__table .wrapper--tabla {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 0 10px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  background-color: #03658C;
}
@media (prefers-color-scheme: dark) {
  .desarrollador__table .wrapper--tabla {
    box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
    background-color: #141414;
  }
}
.desarrollador__table .wrapper--tabla thead tr th {
  font-family: "Roboto Condensed", sans-serif;
}
.desarrollador__table .wrapper--tabla tbody tr > th {
  text-align: right;
}
.desarrollador__table .wrapper--side-info {
  text-align: left;
  margin-block-start: 5px;
}
.desarrollador__table .wrapper--side-info p {
  font-weight: 100;
}

.desarrollador::before {
  background-image: url("../assets/img/2x/quirofano-mobile@2x-80.jpg");
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .desarrollador__title {
    padding: 0 30px;
  }
  .desarrollador__title h2 {
    font-size: 8.976rem;
  }
  .desarrollador__subtitle p {
    font-size: 2.1rem;
    font-weight: 500;
  }
  .desarrollador__table {
    margin: 0 80px;
    font-size: 2.1rem;
  }
  .desarrollador__table .wrapper--tabla {
    padding: 10px;
    border-spacing: 0 15px;
  }
  .desarrollador__table .wrapper--tabla thead tr th {
    font-size: 2.8rem;
  }
  .desarrollador__table .wrapper--side-info p {
    margin-block-start: 5px;
    font-size: 1.8rem;
  }

  .desarrollador::before {
    background-image: url("../assets/img/2x/quirofano-tablet@2x-80.jpg");
  }
}
@media only screen and (min-width: 1024px) {
  .desarrollador__title {
    padding: 0 42px;
    margin-bottom: 10px;
  }
  .desarrollador__title h2 {
    font-size: 5.075rem;
  }
  .desarrollador__subtitle p {
    font-size: 2.1rem;
  }
  .desarrollador__table {
    display: flex;
    width: 786px;
    flex-direction: row-reverse;
    font-size: 1.8rem;
    margin: 0 auto 10px;
  }
  .desarrollador__table .wrapper--tabla {
    padding: 5px;
    border-spacing: 0 10px;
  }
  .desarrollador__table .wrapper--tabla thead tr th {
    font-size: 2.1rem;
  }
  .desarrollador__table .wrapper--side-info {
    writing-mode: vertical-lr;
    margin-block-end: 10px;
  }
  .desarrollador .fecha {
    width: 786px;
    margin: 0 auto;
  }
  .desarrollador .fecha p {
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.8rem;
  }
  .desarrollador .fecha__main {
    padding: 5px 0;
    font-size: 1.6rem;
  }

  .desarrollador::before {
    background-image: url("../assets/img/2x/quirofano-desktop@2x-80.jpg");
  }
}
@media only screen and (min-width: 1280px) {
  .desarrollador__title {
    padding: 0 42px;
    margin-bottom: 10px;
  }
  .desarrollador__title h2 {
    font-size: 6.734rem;
  }
  .desarrollador__subtitle p {
    font-size: 2.843rem;
  }
  .desarrollador__table {
    font-size: 2.1rem;
    margin: 0 auto 10px;
  }
  .desarrollador__table .wrapper--tabla {
    padding: 10px;
    border-spacing: 0 15px;
  }
  .desarrollador__table .wrapper--tabla thead tr th {
    font-size: 2.843rem;
  }
  .desarrollador .fecha {
    width: 786px;
    margin: 0 auto;
  }
  .desarrollador .fecha p {
    margin-bottom: 10px;
    padding: 0;
    font-size: 2.1rem;
  }
  .desarrollador .fecha__main {
    padding: 5px 0;
    font-size: 2.1rem;
  }
}
.donativos {
  text-align: center;
}
.donativos__title {
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
}
.donativos__title h2 {
  font-size: 3.79rem;
  line-height: 120%;
}
.donativos__parrafo1 {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 70px;
  margin-bottom: 10px;
}
.donativos__parrafo1 p {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 120%;
}
.donativos--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.donativos--wrapper article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  background-color: #03658C;
}
@media (prefers-color-scheme: dark) {
  .donativos--wrapper article {
    box-shadow: 0 4px 4px rgba(175, 175, 175, 0.3);
    background-color: #141414;
  }
}
.donativos--wrapper article .donativos__main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 5px;
}
.donativos--wrapper article .main__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
}
.donativos--wrapper article .main__parrafo {
  font-size: 1.2rem;
}
.donativos--wrapper article .button--coffee {
  width: 130px;
  height: 20px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  background-color: #FFDD00;
}
.donativos--wrapper article .button--coffee a {
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #0D0D0D;
}
.donativos--wrapper article .button--coffee:hover {
  background-color: #B9A314;
}
.donativos--wrapper article .button--patreon {
  width: 130px;
  height: 20px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  background-color: #F76754;
}
.donativos--wrapper article .button--patreon a {
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFF;
}
.donativos--wrapper article .button--patreon:hover {
  background-color: #BC5042;
}
.donativos--wrapper article:nth-of-type(1) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.donativos--wrapper article:nth-of-type(2) {
  margin-top: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  align-self: flex-end;
}
.donativos--wrapper .donativos__image {
  width: 30%;
  height: auto;
}
.donativos--wrapper .donativos__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.donativos__parrafo2 {
  margin-top: 15px;
  padding: 0 20px;
}
.donativos__parrafo2 p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #8DAEF2;
}
.donativos__parrafo3 {
  margin-top: 10px;
  padding: 0 20px;
}
.donativos__parrafo3 p {
  font-size: 1.2rem;
}

.donativos::before {
  background-image: url("../assets/img/2x/mobile_gray@2x.png");
  opacity: 0.15;
}

@media only screen and (min-width: 768px) {
  .donativos__title {
    padding: 0 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .donativos__title h2 {
    padding: 0;
    font-size: 6.734rem;
  }
  .donativos__parrafo1 {
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .donativos__parrafo1 p {
    font-size: 2.843rem;
  }
  .donativos--wrapper article {
    padding: 10px 20px;
    width: 70%;
  }
  .donativos--wrapper article .donativos__image {
    width: 150px;
    height: 150px;
  }
  .donativos--wrapper article .main__title {
    font-size: 3.79rem;
  }
  .donativos--wrapper article .main__parrafo {
    padding: 0 5px;
    font-size: 2.1rem;
  }
  .donativos--wrapper article .button--coffee {
    width: 220px;
    height: 30px;
    margin-top: 15px;
  }
  .donativos--wrapper article .button--coffee a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
  }
  .donativos--wrapper article .button--patreon {
    width: 220px;
    height: 30px;
    margin-top: 15px;
  }
  .donativos--wrapper article .button--patreon a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
  }
  .donativos--wrapper article:nth-of-type(2) {
    margin: 30px 0;
  }
  .donativos__parrafo2 {
    margin-top: 15px;
    padding: 0 20px;
  }
  .donativos__parrafo2 p {
    font-size: 2.843rem;
    font-weight: bold;
  }
  .donativos__parrafo3 {
    display: none;
  }

  .donativos::before {
    background-image: url("../assets/img/2x/tablet_gray@2x.png");
  }
}
@media only screen and (min-width: 1024px) {
  .donativos__title {
    padding: 0 42px;
    margin-bottom: 20px;
    text-align: center;
  }
  .donativos__title h2 {
    padding: 0;
    font-size: 5.057rem;
  }
  .donativos__parrafo1 p {
    font-size: 2.132rem;
  }
  .donativos--wrapper {
    flex-direction: row;
    padding: 0 42px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .donativos--wrapper article {
    width: 50%;
    height: 100%;
    border-radius: 8px;
  }
  .donativos--wrapper article .donativos__image {
    width: 120px;
    height: 120px;
  }
  .donativos--wrapper article .main__title {
    padding-bottom: 10px;
    font-size: 2.843rem;
  }
  .donativos--wrapper article .main__parrafo {
    padding: 10px;
    font-size: 1.8rem;
  }
  .donativos--wrapper article:nth-of-type(2) {
    margin: 0 0 0 30px;
    justify-self: baseline;
  }
  .donativos__parrafo2 {
    margin-top: 30px;
    padding: 0 42px;
  }
  .donativos__parrafo2 p {
    font-size: 2.843rem;
  }
  .donativos__parrafo3 {
    display: block;
  }
  .donativos__parrafo3 p {
    font-size: 1.8rem;
  }

  .desktop::before {
    background-image: url("../assets/img/2x/desktop_gray@2x.png");
  }
}
@media only screen and (min-width: 1280px) {
  .donativos__title {
    margin: 0 auto 20px auto;
  }
  .donativos__title h2 {
    font-size: 6.734rem;
  }
  .donativos__parrafo1 {
    margin-bottom: 40px;
  }
  .donativos__parrafo1 p {
    font-size: 2.843rem;
  }
  .donativos--wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .donativos--wrapper article {
    width: 45%;
  }
  .donativos--wrapper article .donativos__image {
    width: 150px;
    height: 150px;
  }
  .donativos--wrapper article .main__title {
    font-size: 3.79rem;
  }
}
.contacto {
  height: auto;
  padding-bottom: 60px;
}
.contacto__title {
  position: relative;
  padding: 0 20px;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", sans-serif;
}
.contacto__title h2 {
  text-align: left;
  font-size: 3.79rem;
  line-height: 120%;
}
.contacto__cards {
  position: relative;
  width: 100%;
}
.contacto__cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  padding: 10px 10px 10px 20px;
  margin-bottom: 15px;
  text-align: left;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  background-color: #03658C;
}
@media (prefers-color-scheme: dark) {
  .contacto__cards .card {
    background-color: #141414;
  }
}
.contacto__cards .card__info {
  display: block;
  width: 65%;
}
.contacto__cards .card__info__title {
  margin-bottom: 5px;
}
.contacto__cards .card__info__title p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
}
.contacto__cards .card__info__parrafo {
  margin-bottom: 5px;
  padding-right: 5px;
}
.contacto__cards .card__info__parrafo p {
  font-size: 1.2rem;
  line-height: 120%;
}
.contacto__cards .card__info__correo {
  margin-bottom: 10px;
}
.contacto__cards .card__info__correo a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: #5C8EF2;
}
.contacto__cards .card__info__correo a:hover {
  color: #DFE7F2;
}
.contacto__cards .card__info__redes {
  display: flex;
}
.contacto__cards .card__info__redes img {
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
.contacto__cards .card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  overflow: hidden;
}
.contacto__cards .card__image img {
  width: 100%;
  align-self: center;
  justify-self: center;
}
.contacto__cards .card:last-of-type {
  margin-bottom: 0;
}

.contacto::before {
  background-image: url("../assets/img/2x/cama-mobile@2x-80.jpg");
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .contacto {
    height: auto;
    padding-top: 125px;
    padding-bottom: 60px;
  }
  .contacto__title {
    width: 560px;
    padding: 0 30px;
  }
  .contacto__title h2 {
    font-size: 6.734rem;
  }
  .contacto__cards .card {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  .contacto__cards .card__info {
    margin-right: 15px;
  }
  .contacto__cards .card__info__title p {
    font-size: 2.843rem;
  }
  .contacto__cards .card__info__parrafo {
    margin-bottom: 10px;
  }
  .contacto__cards .card__info__parrafo p {
    font-size: 2.1328rem;
  }
  .contacto__cards .card__info__correo {
    margin-bottom: 15px;
  }
  .contacto__cards .card__info__correo a {
    font-size: 1.8rem;
  }
  .contacto__cards .card__info__redes {
    justify-content: center;
  }
  .contacto__cards .card__info__redes img {
    width: 50px;
    height: 50px;
    margin-right: 40px;
  }
  .contacto__cards .card__image {
    width: 160px;
    height: 150px;
  }
  .contacto__cards .card:last-of-type {
    margin-bottom: 0;
  }

  .contacto::before {
    background-image: url("../assets/img/2x/cama-tablet@2x-80.jpg");
  }
}
@media only screen and (min-width: 1024px) {
  .contacto {
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 100px;
  }
  .contacto__title {
    position: sticky;
    top: 100px;
    left: 0;
    bottom: 100px;
    width: 400px;
  }
  .contacto__title h2 {
    font-size: 5.0517rem;
  }
  .contacto__cards {
    display: flex;
    flex-direction: column;
  }
  .contacto__cards .card {
    margin: 0 42px 0 0;
    align-self: flex-end;
    max-width: 580px;
    padding: 10px;
    margin-bottom: 15px;
  }
  .contacto__cards .card__info {
    margin-right: 15px;
  }
  .contacto__cards .card__info__title p {
    font-size: 2.843rem;
  }
  .contacto__cards .card__info__parrafo p {
    font-size: 1.8rem;
  }
  .contacto__cards .card__info__correo {
    margin-bottom: 20px;
  }
  .contacto__cards .card__info__redes img {
    width: 50px;
    height: 50px;
    margin-right: 45px;
  }
  .contacto__cards .card__image {
    width: 180px;
    height: 170px;
  }
  .contacto__cards .card:last-of-type {
    margin-bottom: 0;
  }

  .contacto::before {
    background-image: url("../assets/img/2x/cama-desktop@2x-80.jpg");
  }
}
@media only screen and (min-width: 1280px) {
  .contacto__title {
    top: 95px;
    width: 600px;
  }
  .contacto__title h2 {
    font-size: 6.734rem;
  }
}
.footer {
  position: relative;
  height: auto;
  padding: 10px 20px;
  color: #FFF;
  background-color: #011526;
}
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #141414;
  }
}
.footer__main {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.footer__main figure {
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 10px;
}
.footer__main figure img {
  width: 100%;
}
.footer__main__container {
  width: 80%;
  margin-bottom: 5px;
}
.footer__main__container h4 {
  margin-bottom: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
}
.footer__main__container p {
  font-weight: lighter;
  line-height: 140%;
}
.footer__secondary {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__secondary .footer__fecha {
  text-align: left;
  font-weight: bold;
}
.footer__secondary .footer__links {
  text-align: right;
  list-style: none;
}
.footer__secondary .footer__links li {
  padding-bottom: 5px;
}
.footer__secondary .footer__links li a {
  color: #5C8EF2;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 30px;
  }
  .footer__main figure {
    width: 100px;
    margin-right: 15px;
  }
  .footer__main__container {
    margin-bottom: 10px;
  }
  .footer__main__container h4 {
    font-size: 2.1rem;
  }
  .footer__main__container p {
    font-size: 1.6rem;
  }
  .footer__secondary .footer__fecha {
    font-size: 1.8rem;
  }
  .footer__secondary .footer__links li {
    padding-bottom: 10px;
  }
  .footer__secondary .footer__links li a {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 15px 42px;
  }
  .footer__main figure {
    width: 100px;
    margin-right: 15px;
  }
  .footer__main__container {
    margin-bottom: 10px;
  }
  .footer__main__container h4 {
    font-size: 2.1rem;
  }
  .footer__main__container p {
    font-size: 1.6rem;
  }
  .footer__secondary .footer__fecha {
    font-size: 1.6rem;
  }
  .footer__secondary .footer__links li {
    padding-bottom: 10px;
  }
  .footer__secondary .footer__links li a {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__main figure {
    width: 150px;
    margin-right: 35px;
  }
  .footer__secondary .footer__fecha {
    font-size: 1.8rem;
  }
  .footer__secondary .footer__links li a {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

/*# sourceMappingURL=index.css.map */
