@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* fuentes principales */
/* paletas de color */
/* media queries */
/* estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

main {
  height: auto;
}

h2 > span {
  color: #5C8EF2;
}

p > span {
  color: #5C8EF2;
}

div > p {
  position: relative;
  line-height: 140%;
}

.button-theme {
  display: none;
}

/* contenedor general */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  color: #FFF;
}

.wrapper::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button--green {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  margin: 15px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  color: #FFF;
  background-color: #00BB2D;
}
@media (prefers-color-scheme: dark) {
  .button--green {
    box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
    background-color: #00A327;
  }
}
.button--green a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.133rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.button--green i {
  position: absolute;
  right: 40px;
}

.button--green:hover {
  background-color: #5EBB74;
}
@media (prefers-color-scheme: dark) {
  .button--green:hover {
    background-color: #00801F;
  }
}

.arrow-drop-down {
  position: absolute;
  bottom: 10px;
  align-self: center;
  font-size: 24px;
  color: #00BB2D;
}

.fecha {
  position: relative;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
.fecha p {
  margin-bottom: 5px;
  padding: 0 20px;
  font-size: 1.8rem;
  color: #5C8EF2;
}
.fecha__main {
  padding: 5px 0;
  font-size: 1.8rem;
  background-color: #03658C;
}
@media (prefers-color-scheme: dark) {
  .fecha__main {
    background-color: #545454;
  }
}
.fecha__main span {
  color: #FFF;
}

.breadcrumbs {
  display: inline-block;
  margin: 75px 0 5px 0;
  padding-left: 20px;
}
.breadcrumbs__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumbs__nav a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
.breadcrumbs__nav a::after {
  content: "►";
  font-size: 1.2rem;
  margin: 0 5px;
}
.breadcrumbs__nav a:last-child::after {
  display: none;
}
.breadcrumbs a:hover {
  color: #5C8EF2;
}

/* Transiciones */
.trans {
  opacity: 0;
  transition: opacity 0.5s;
}

.trans--single {
  opacity: 0;
  transition: opacity 0.5s;
}

.animate__animated {
  opacity: 1;
  transition: opacity 0.5s;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .wrapper {
    padding-top: 165px;
  }

  .breadcrumbs {
    margin-top: 125px;
    padding-left: 30px;
  }
  .breadcrumbs__nav a {
    font-size: 2.1rem;
  }
  .breadcrumbs__nav a::after {
    font-size: 2rem;
  }

  .button--green {
    height: 50px;
    width: 466px;
    margin: 0 auto 40px auto;
  }
  .button--green a {
    font-size: 2.843rem;
  }
  .button--green i {
    font-size: 2.843rem;
  }

  .arrow-drop-down {
    font-size: 37px;
  }

  .fecha p {
    margin-bottom: 10px;
    font-size: 2.1rem;
    color: #FFF;
  }
  .fecha__main {
    padding: 10px 0;
    font-size: 2.843rem;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 100px;
  }

  .breadcrumbs {
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 42px;
  }

  .button--green {
    margin: 0 auto 30px auto;
  }

  .arrow-drop-down {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    padding-top: 95px;
  }
}
.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .progress {
    background-color: #0D0D0D;
  }
}
.progress .alaisa__isotipo {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-image: url("../assets/icons/isotipo_alaisa.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (prefers-color-scheme: dark) {
  .progress .alaisa__isotipo {
    background-image: url("../assets/icons/isotipo_alaisa--white.svg");
  }
}
.progress__title {
  position: relative;
  margin-top: 15px;
}
.progress__title h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
  color: #0D0D0D;
}
@media (prefers-color-scheme: dark) {
  .progress__title h4 {
    color: #DFE7F2;
  }
}
.progress__bar {
  position: relative;
  margin-top: 15px;
}
.progress__bar progress[value] {
  width: 257px;
  height: 30px;
  border: 1px solid #AFAFAF;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  appearance: none;
}
@media (prefers-color-scheme: dark) {
  .progress__bar progress[value] {
    box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
    background-color: rgba(20, 20, 20, 0.5);
  }
}
.progress__bar progress[value]::-webkit-progress-bar {
  background-color: #FFF;
}
.progress__bar progress[value]::-webkit-progress-value {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #00BB2D;
}
@media (prefers-color-scheme: dark) {
  .progress__bar progress[value]::-webkit-progress-value {
    background-color: #00A327;
  }
}

.progress::before {
  content: "";
  background-image: url("../assets/img/2x/mobile_gray@2x.png");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .progress .alaisa__isotipo {
    width: 264px;
    height: 264px;
  }
  .progress__title {
    margin-top: 35px;
  }
  .progress__title h4 {
    font-size: 3.79rem;
  }
  .progress__bar {
    margin-top: 35px;
  }
  .progress__bar progress[value] {
    width: 466px;
    height: 40px;
  }

  .progress::before {
    background-image: url("../assets/img/2x/tablet_gray@2x.png");
  }
}
@media only screen and (min-width: 1024px) {
  .progress .alaisa__isotipo {
    width: 150px;
    height: 150px;
  }
  .progress__title {
    margin-top: 15px;
  }
  .progress__title h4 {
    font-size: 2.1rem;
  }
  .progress__bar {
    margin-top: 15px;
  }
  .progress__bar progress[value] {
    width: 257px;
    height: 30px;
  }

  .progress::before {
    background-image: url("../assets/img/2x/desktop_gray@2x.png");
  }
}

/*# sourceMappingURL=progress.css.map */
