@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* fuentes principales */
/* paletas de color */
/* media queries */
/* estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

main {
  height: auto;
}

h2 > span {
  color: #5C8EF2;
}

p > span {
  color: #5C8EF2;
}

div > p {
  position: relative;
  line-height: 140%;
}

.button-theme {
  display: none;
}

/* contenedor general */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  color: #FFF;
}

.wrapper::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button--green {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  margin: 15px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  color: #FFF;
  background-color: #00A327;
}
.button--green a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.133rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.button--green i {
  position: absolute;
  right: 40px;
}

.arrow-drop-down {
  position: absolute;
  bottom: 10px;
  align-self: center;
  font-size: 24px;
}

.fecha {
  position: relative;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
.fecha p {
  margin-bottom: 5px;
  padding: 0 20px;
  font-size: 1.8rem;
  color: #5C8EF2;
}
.fecha__main {
  padding: 5px 0;
  font-size: 1.8rem;
  background-color: #03658C;
}
.fecha__main span {
  color: #FFF;
}

.breadcrumbs {
  display: inline-block;
  margin: 75px 0 5px 0;
  padding-left: 20px;
}
.breadcrumbs__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumbs__nav a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}
.breadcrumbs__nav a::after {
  content: "►";
  font-size: 1.2rem;
  margin: 0 5px;
}
.breadcrumbs__nav a:last-child::after {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding-top: 165px;
  }

  .breadcrumbs {
    margin-top: 125px;
    padding-left: 30px;
  }
  .breadcrumbs__nav a {
    font-size: 2.1rem;
  }
  .breadcrumbs__nav a::after {
    font-size: 2rem;
  }

  .button--green {
    height: 50px;
    width: 466px;
    margin: 0 auto 40px auto;
  }
  .button--green a {
    font-size: 2.843rem;
  }
  .button--green i {
    font-size: 2.843rem;
  }

  .arrow-drop-down {
    font-size: 37px;
  }

  .fecha p {
    margin-bottom: 10px;
    font-size: 2.1rem;
    color: #FFF;
  }
  .fecha__main {
    padding: 10px 0;
    font-size: 2.843rem;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 100px;
  }

  .breadcrumbs {
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 42px;
  }

  .button--green {
    margin: 0 auto 30px auto;
  }

  .arrow-drop-down {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    padding-top: 95px;
  }
}
header {
  width: 100vw;
}
header .header--up {
  display: flex;
  position: fixed;
  top: 15px;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  background-color: #011526;
}
header .header--up__logo {
  display: flex;
  align-items: center;
  width: 160px;
  height: auto;
  align-self: center;
}
header .header--up__logo img {
  width: 100%;
}
header .header--up__nav--desktop {
  display: none;
  width: 75%;
}
header .header--up__nav--desktop .header__menu--desktop {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
header .header--up__nav--desktop .header__menu--desktop li {
  list-style: none;
}
header .header--up__nav--desktop .header__menu--desktop li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.13rem;
  text-decoration: none;
  color: #FFF;
}
header .header--up__nav--desktop .header__menu--desktop li a:hover {
  color: #5C8EF2;
}
header .header--up .burger-menu {
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  color: #FFF;
  background-color: #03658C;
}
header .header {
  display: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #03658C;
  opacity: 0;
  transition: 0.3s;
}
header .header__nav--mobile {
  display: none;
  flex-direction: column;
  margin-top: 95px;
}
header .header__nav--mobile .header__menu--mobile {
  margin-bottom: 45px;
  font-size: 2.1rem;
  font-weight: bold;
  list-style: none;
  border-left: 2px solid rgba(255, 255, 255, 0.6);
}
header .header__nav--mobile .header__menu--mobile li {
  margin: 0 0 25px 20px;
}
header .header__nav--mobile .header__menu--mobile li:nth-of-type(6) {
  margin-bottom: 0;
}
header .header__nav--mobile .header__menu--mobile li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #FFF;
}
header .header__nav--mobile .header__menu--mobile a:hover {
  color: #8DAEF2;
}
header .header__menu--secondary {
  list-style: none;
  margin-left: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
}
header .header__menu--secondary li {
  margin-bottom: 5px;
}
header .header__menu--secondary li a {
  color: #8DAEF2;
}
header .header__menu--secondary li a:hover {
  color: #FFF;
}
header .header .burger-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  color: #FFF;
  background-color: #03658C;
}
header .header .imagotipo {
  display: none;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 84px;
}
header .header .imagotipo img {
  width: 98px;
  height: 98px;
}
header .header--up.is-active {
  display: none;
}
header .header.is-active {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 1;
}
header .header.is-active .header__nav--mobile {
  display: flex;
}
header .header.is-active .burger-menu {
  display: block;
}
header .header.is-active .imagotipo {
  display: flex;
}

@media only screen and (min-width: 768px) {
  header .header--up {
    top: 30px;
    height: 75px;
    padding: 0 55px;
  }
  header .header--up__logo {
    width: 243px;
  }
  header .header--up .burger-menu {
    font-size: 37.5px;
    padding: 6.25px;
  }
  header .header {
    padding: 0 30px;
  }
  header .header__nav--mobile {
    margin-top: 131px;
  }
  header .header__nav--mobile .header__menu--mobile {
    margin: 0 0 50px 50px;
    font-size: 3.79rem;
    border-left: 4px solid rgba(255, 255, 255, 0.6);
  }
  header .header__nav--mobile .header__menu--mobile li {
    margin: 0 0 40px 50px;
  }
  header .header__menu--secondary {
    margin-left: 100px;
    font-size: 2.843rem;
  }
  header .header__menu--secondary li {
    margin-bottom: 10px;
  }
  header .header .burger-menu {
    right: 55px;
    top: 55px;
    padding: 6.25px;
    font-size: 37.5px;
  }
  header .header .imagotipo {
    margin-bottom: 0px;
  }
  header .header .imagotipo img {
    width: 222px;
    height: 222px;
  }
}
@media only screen and (min-width: 1024px) {
  header .header--up {
    top: 0;
    height: 75px;
    padding: 0 42px;
  }
  header .header--up__logo {
    width: 172px;
  }
  header .header--up__nav--desktop {
    display: flex;
  }
  header .header--up .burger-menu {
    display: none;
  }
  header .header .burger-menu {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  header .header--up__nav--desktop {
    width: 80%;
  }
}
.footer {
  position: relative;
  height: auto;
  padding: 10px 20px;
  color: #FFF;
  background-color: #011526;
}
.footer__main {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.footer__main figure {
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 10px;
}
.footer__main figure img {
  width: 100%;
}
.footer__main__container {
  width: 80%;
  margin-bottom: 5px;
}
.footer__main__container h4 {
  margin-bottom: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
}
.footer__main__container p {
  font-weight: lighter;
  line-height: 140%;
}
.footer__secondary {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__secondary .footer__fecha {
  text-align: left;
  font-weight: bold;
}
.footer__secondary .footer__links {
  text-align: right;
  list-style: none;
}
.footer__secondary .footer__links li {
  padding-bottom: 5px;
}
.footer__secondary .footer__links li a {
  color: #5C8EF2;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 30px;
  }
  .footer__main figure {
    width: 100px;
    margin-right: 15px;
  }
  .footer__main__container {
    margin-bottom: 10px;
  }
  .footer__main__container h4 {
    font-size: 2.1rem;
  }
  .footer__main__container p {
    font-size: 1.6rem;
  }
  .footer__secondary .footer__fecha {
    font-size: 1.8rem;
  }
  .footer__secondary .footer__links li {
    padding-bottom: 10px;
  }
  .footer__secondary .footer__links li a {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 15px 42px;
  }
  .footer__main figure {
    width: 100px;
    margin-right: 15px;
  }
  .footer__main__container {
    margin-bottom: 10px;
  }
  .footer__main__container h4 {
    font-size: 2.1rem;
  }
  .footer__main__container p {
    font-size: 1.6rem;
  }
  .footer__secondary .footer__fecha {
    font-size: 1.6rem;
  }
  .footer__secondary .footer__links li {
    padding-bottom: 10px;
  }
  .footer__secondary .footer__links li a {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__main figure {
    width: 150px;
    margin-right: 35px;
  }
  .footer__secondary .footer__fecha {
    font-size: 1.8rem;
  }
  .footer__secondary .footer__links li a {
    font-size: 1.8rem;
    font-weight: bold;
  }
}
.breadcrumbs a {
  color: #03658C;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: auto;
  text-align: center;
}
.result__main {
  position: relative;
}
.result__main .alaisa__isotipo {
  margin: 0 auto;
  width: 90px;
  height: 90px;
}
.result__main .alaisa__isotipo img {
  width: 100%;
}
.result__main__title {
  margin: 15px 0;
  padding: 0 20px;
}
.result__main__title h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.8rem;
  color: #0D0D0D;
}
.result__main__result {
  margin: 40px 0;
  padding: 0 20px;
}
.result__main__result span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5.52rem;
  font-weight: bold;
  color: #03658C;
}
.result__main__parrafo {
  margin-bottom: 70px;
  padding: 0 20px;
}
.result__main__parrafo p {
  font-size: 2.1rem;
}
.result__main__back {
  margin: 20px 0 60px;
  padding: 0 20px;
}
.result__main__back a {
  font-size: 1.6rem;
  font-weight: bold;
  color: #5C8EF2;
}

.result::before {
  content: "";
  background-image: url("../assets/img/2x/mobile_gray@2x.png");
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

@media only screen and (min-width: 768px) {
  .result__main .alaisa__isotipo {
    width: 200px;
    height: 200px;
  }
  .result__main__title {
    margin: 40px 0 20px 0;
    padding: 0 30px;
  }
  .result__main__title h2 {
    font-size: 5.052rem;
  }
  .result__main__result {
    margin: 0 0 40px 0;
    padding: 0 30px;
  }
  .result__main__result span {
    font-size: 8.976rem;
  }
  .result__main__parrafo {
    margin-bottom: 100px;
    padding: 0 30px;
  }
  .result__main__parrafo p {
    font-size: 2.843rem;
  }
  .result__main__back {
    padding: 0 30px;
  }
  .result__main__back a {
    font-size: 2.1rem;
  }

  .result::before {
    background-image: url("../assets/img/2x/tablet_gray@2x.png");
    opacity: 0.3;
  }
}
@media only screen and (min-width: 1024px) {
  .result__main .alaisa__isotipo {
    width: 100px;
    height: 100px;
  }
  .result__main__title {
    padding: 0 42px;
  }
  .result__main__title h2 {
    font-size: 3.789rem;
  }
  .result__main__result {
    margin: 0 0 20px 0;
    padding: 0 42px;
  }
  .result__main__result span {
    font-size: 8.976rem;
  }
  .result__main__parrafo {
    margin-bottom: 40px;
    padding: 0 42px;
  }
  .result__main__back {
    padding: 0 42px;
  }

  .result::before {
    background-image: url("../assets/img/2x/desktop_gray@2x.png");
    opacity: 0.5;
  }
}

/*# sourceMappingURL=result.css.map */
