@use "../global/vars" as v;
@use "../global/mixins" as *;


.title-main {
	position: relative;
	padding: 0 20px;
	margin-bottom: 20px;
	text-align: center;
	h2 {
		font-family: v.$fuente1;
		font-size: 3.79rem;
		line-height: 120%;
	}
	span {
		color: v.$blue400;
	}
}

.title-h1 {
	position: relative;
	margin-bottom: 20px;
	text-align: left;
	h1 {
		font-family: v.$fuente1;
		font-size: 3.79rem;
		font-weight: bold;
		line-height: 120%;
	}
	span {
		color: v.$blue400;
	}
}

.title-h2 {
	position: relative;
	margin-bottom: 20px;
	font-family: v.$fuente1;
	h2 {
		font-size: 3.79rem;
		line-height: 120%;
	}
}
.blue {
	color: v.$blue400;
}


.title-h3 {
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	h3 {
		font-family: v.$fuente1;
		font-size: 2.1rem;
		color: v.$dark600;

		@include dark-mode {
			color: v.$white;
		}
	}
}

.title-h4 {
	position: relative;
	margin-bottom: 5px;
	text-align: left;
	h4 {
		font-family: v.$fuente1;
		font-size: 2.1rem;
		font-weight: bold;
	}
}


@include tablet {
/* 	.title-main {

	}
	.title-h1 {

	}
	.title-h2 {

	}
	.title-h3 {

	} */
}

@include desktop {

}

@include large {
	
}