@use "../global/vars" as v;
@use "../global/mixins" as *;

.logo {
	display: inline-block;
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.logo__imagotype {
	background-image: url("@icons/imagotype-black.svg");
	margin: 0 auto 30px auto;
	padding: 100px;
	@include dark-mode {
		background-image: url("@icons/imagotype-white.svg");
	}
}

@include tablet {
	.logo__imagotype {
		padding: 200px;
	}
}