footer
	.footer__main
		figure
			img(src="assets/icons/imagotipo_alaisa.svg", alt="alaisa logo")
		.footer__main__container
			h4 Modelo neuronal Alaisa 
			p Un proyecto de Evaluación de las características sociales, demográficas y clínicas de la población de la ciudad de Chihuahua y su posible relación con la enfermedad causada por el SARS-CoV-2.
	.footer__secondary
		.footer__fecha 
			p Chihuahua, Chih. 2021
		ul.footer__links
			li: a(href="#")  Acerca de
			li: a(href="#")  Aviso de Privacidad