footer
	figure
		img(src="assets/icons/imagotipo_alaisa.svg", alt="alaisa logo")
	.footer__main
		h4.footer__main__title Modelo Neuronal Alaisa 
		p.footer__main__parrafo Un proyecto de Evaluación de las características sociales, demográficas y clínicas de la población de la ciudad de Chihuahua y su posible relación con la enfermedad causada por el SARS-CoV-2.
	.footer__fecha 
		p Chihuahua, Chih. 2021
	ul 
		li.footer__link #[a(href="#")  Acerca de]
		li.footer__link #[a(href="#")  Aviso de Privacidad ]