header
	.header--up
		a(href="index.html")
			figure.header--up__logo
				img(src='assets/icons/logo_tipografico_alaisa.svg', alt="logo principal alaisa")
		nav.header--up__nav--desktop
			ul.header__menu--desktop
				li: a(href="index.html#hero") Inicio 
				li: a(href="model.html") Modelo
				li: a(href="entrenamiento.html") Entrenamiento
				li: a(href="index.html#metricas") Rendimiento
				li: a(href="index.html#donativos") Donativos
				li: a(href="index.html#contacto") Contacto 
		i.material-icons#burger-menu.burger-menu menu

	.header
		nav.header__nav--mobile
			ul.header__menu--mobile
				li: a(href="index.html#hero") Inicio 
				li: a(href="model.html") Modelo Alaisa
				li: a(href="entrenamiento.html") Entrenamiento
				li: a(href="index.html#metricas") Estadisticas de Rendimiento
				li: a(href="index.html#donativos") Donativos
				li: a(href="index.html#contacto") Contacto desarrolladores
			ul.header__menu--secondary
				li: a(href="privacidad.html") Aviso de privacidad
				li: a(href="acerca.html") Acerca de 
		i.material-icons#burger-menu.burger-menu menu
		.imagotipo
			img(src="assets/icons/isotipo_alaisa--white.svg", alt=" imagen virus Alaisa")

