header
	.header--up
		figure.header--up__logo
			img(src='assets/icons/logo_tipografico_alaisa.svg', alt="logo principal alaisa")
		nav.header--up__nav--desktop
			ul.header__menu--desktop
				li: a(href="#") Inicio 
				li: a(href="#") Modelo
				li: a(href="#") Entrenamiento
				li: a(href="#") Rendimiento
				li: a(href="#") Donativos
				li: a(href="#") Contacto 
		i.material-icons#burger-menu.burger-menu menu

	.header
		nav.header__nav--mobile
			ul.header__menu--mobile
				li: a(href="#") Inicio 
				li: a(href="#") Modelo Alaisa
				li: a(href="#") Entrenamiento
				li: a(href="#") Estadisticas de Rendimiento
				li: a(href="#") Donativos
				li: a(href="#") Contacto desarrolladores
			ul.header__menu--secondary
				li: a(href="#") Aviso de privacidad
				li: a(href="#") Acerca de 
		i.material-icons#burger-menu.burger-menu menu
		.imagotipo
			img(src="assets/icons/isotipo_alaisa.svg", alt=" imagen virus Alaisa")

