@import 'components/globales';
@import 'components/headers';
@import 'components/footers';
.breadcrumbs {
	a {
		color: $blue500;
		@include dark-mode {
			color: $blue300;
		}
	}
}
.gracias {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: auto;
	text-align: center;
	@include dark-mode {
		color: $white;
		background-color: $dark600;
	}
	&__main {
		position: relative;
		.alaisa__isotipo { 
			margin: 0 auto;
			width: 90px;
			height: 90px;
			background-image: url("../assets/icons/isotipo_alaisa.svg");
			background-size: cover;
			background-repeat: no-repeat;
			@include dark-mode {
				background-image: url("../assets/icons/isotipo_alaisa--white.svg");
			}
		}
		&__title {
			margin: 15px 0;
			padding: 0 20px;
			h2 {
				font-family: $fuente1;
				font-size: 5.1rem;
				color: $blue500;
				@include dark-mode {
					color: $blue400;
				}
			}
		}
		&__parrafo {
				margin: 70px 0;
				padding: 0 20px;
			p {
				font-size: 2.1rem;
				font-weight: bold;
			}
		}
		&__back {
				margin: 20px 0 60px;
				padding: 0 20px;
			a {
				font-size: 1.6rem;
				font-weight: bold;
				color: $blue400;
			}
		}
	}
}
.gracias::before {
	content: "";
	background-image: url('../assets/img/2x/mobile_gray@2x.png');
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.15;
}
@include tablet {
	.gracias {
		&__main {
			.alaisa__isotipo { 
				width: 200px;
				height: 200px;
				margin-top: 15px;
			}
			&__title {
					margin: 25 0 45px 0;
					padding: 0 130px;
				h2 {
					font-size: 8.976rem;
				}
			}
			&__parrafo {
					padding: 0 120px;
				p {
					font-size: 3.79rem;
				}
			}
			&__back {
					padding: 0 30px;
				a {
					font-size: 2.1rem;
				}
			}
		}
	}
	.gracias::before {
		background-image: url('../assets/img/2x/tablet_gray@2x.png');
		opacity: 0.30;
	}
}

@include desktop {
	.gracias {
		&__main {
			.alaisa__isotipo { 
				width: 100px;
				height: 100px;
				margin-top: 0;
			}
			&__title {
					margin: 25px 0;
			}
			&__parrafo {
					margin:0 0 40px 0;
					padding: 0 42px;
			}
			&__back {
					padding: 0 42px;
			}
		}
	}
	.gracias::before {
		background-image: url('../assets/img/2x/desktop_gray@2x.png');
		opacity: 0.50;
	}
}
