@import 'components/globales';
@import 'components/headers';
@import 'components/footers';
.acerca {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	height: auto;
	text-align: center;
	padding-top: 90px;
	background-color: $white;
	@include dark-mode {
		color: $white;
		background-color: $dark600;
	}
	&__title {
		position: relative;
		padding: 0 20px;
		margin-bottom: 15px;
		font-family: $fuente1;
		h2 {
			font-size: 3.79rem;
			line-height: 120%;
		}
	}
	&__main {
		position: relative;
		padding: 0 20px;
		&__parrafo {
			margin-bottom: 15px;
			font-size: 1.6rem;
			line-height: 140%;
		}
		&__parrafo--primary {
			margin: 15px 0;
			font-family: $fuente1;
			font-size: 1.8rem;
			font-weight: bold;
			line-height: 140%;
		}
		&__link {
			display: block;
			margin-bottom: 15px;
			font-family: $fuente1;
			font-size: 1.8rem;
			font-weight: bold;
			a {
				color: $blue600;
				@include dark-mode {
					color: $white;
				}
			}
		}
		&__link {
			a:hover {
				color: $blue400;

			}
		}
		&__logo {
			display: block;
			width: 218px;
			height:auto;
			margin: 20px auto 60px auto;
			&--imagotipo {
				width: 100px;
				height: 100px;
				margin: 0 auto 20px auto;
				background-image: url("../assets/icons/imagotipo_alaisa--black.svg");
				background-size: cover;
				background-repeat: no-repeat;
				@include dark-mode {
					background-image: url("../assets/icons/imagotipo_alaisa--white.svg");
				}
			}
			&--tipografico {
				width: 100%;
				height: 28px;
				background-image: url("../assets/icons/logo_tipografico_alaisa--black.svg");
				background-size: cover;
				background-repeat: no-repeat;
				@include dark-mode {
					background-image: url("../assets/icons/logo_tipografico_alaisa.svg");
				}
			}
		}
	}
}
.acerca::before {
	content: "";
	background-image: url('../assets/img/2x/mobile_gray@2x.png');
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.15;
}

@include tablet {
	.acerca {
		padding-top: 165px;
		&__title {
			padding: 0 30px;
			margin-bottom: 35px;
			h2 {
				font-size: 6.734rem;
			}
		}
		&__main {
			padding: 0 30px;
			&__parrafo {
				margin-bottom: 35px;
				p {
					font-size: 2.4rem;
				}
			}
			&__parrafo--primary {
				margin-bottom: 30px;
				p {
					font-size: 2.843rem;
				}
			}	
			&__link {
				margin-bottom: 40px;
				a {
					font-size: 2.843rem;
				}
			}
			&__logo {
				width: 400px;
				&--imagotipo {
					width: 200px;
					height: 200px;
					margin-bottom: 25px;
				}
				&--tipografico {
					height: 50px;
				}
			}
		}
	}
	.acerca::before {
		background-image: url('../assets/img/2x/tablet_gray@2x.png');
	}
}

@include desktop {
	.acerca {
		padding-top: 100px;
		&__title {
			padding: 0 42px;
		}
	}
	.acerca::before {
		background-image: url('../assets/img/2x/desktop_gray@2x.png');
	}
}

@include large { 
	.acerca {
		padding-top: 95px;
	}
}