@import 'components/globales';
@import 'components/headers';
@import 'components/footers';
.breadcrumbs {
	a {
		color: $blue500;
	}
}
@include dark-mode {
	.breadcrumbs {
		a {
			color: $dark300;
		}
	}
}
.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: auto;
	text-align: center;
	@include dark-mode {
		background-color: $dark600;
	}
	&__main {
		position: relative;
		.alaisa__isotipo { 
			margin: 0 auto;
			width: 90px;
			height: 90px;
			background-image: url("../assets/icons/isotipo_alaisa.svg");
			background-size: cover;
			background-repeat: no-repeat;
			@include dark-mode {
				background-image: url("../assets/icons/isotipo_alaisa--white.svg");
			}
		}	
		&__title {
			margin: 15px 0;
			padding: 0 20px;
			h2 {
				font-family: $fuente1;
				font-size: 2.8rem;
				color: $dark600;
				@include dark-mode {
					color: $blue400;
				}
			}
		}
		&__result {
				margin: 40px 0;
				padding: 0 20px;
			span {
				font-family: $fuente1;
				font-size: 5.52rem;
				font-weight: bold;
				color: $blue500;
				@include dark-mode {
					color: $white;
				}
			}
		}
		&__parrafo {
				margin-bottom: 70px;
				padding: 0 20px;
			p {
				font-size: 2.1rem;
				@include dark-mode {
					color: $white;
				}
			}
		}
		&__back {
				margin: 20px 0 60px;
				padding: 0 20px;
			a {
				font-size: 1.6rem;
				font-weight: bold;
				color: $blue400;
			}
		}
		&__back:hover {
			a {
				color: $blue200;
			}
		}
	}
}
.result::before {
	content: "";
	background-image: url('../assets/img/2x/mobile_gray@2x.png');
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.15;
}

@include tablet {
	.result {
		&__main {
			.alaisa__isotipo { 
				width: 200px;
				height: 200px;
			}
			&__title {
				margin: 40px 0 20px 0;
				padding: 0 30px;
				h2 {
					font-size: 5.052rem;
				}
			}
			&__result {
					margin: 0 0 40px 0;
					padding: 0 30px;
				span {
					font-size: 8.976rem;
				}
			}
			&__parrafo {
					margin-bottom: 100px;
					padding: 0 30px;
				p {
					font-size: 2.843rem;
				}
			}
			&__back {
					padding: 0 30px;
				a {
					font-size: 2.1rem;
				}
			}
		}
	}
	.result::before {
		background-image: url('../assets/img/2x/tablet_gray@2x.png');
		opacity: 0.30;
	}
}

@include desktop {
	.result {
		&__main {
			.alaisa__isotipo { 
				width: 100px;
				height: 100px;
			}
			&__title {
				padding: 0 42px;
				h2 {
					font-size: 3.789rem;
				}
			}
			&__result {
					margin: 0 0 20px 0;
					padding: 0 42px;
				span {
					font-size: 8.976rem;
				}
			}
			&__parrafo {
					margin-bottom: 40px;
					padding: 0 42px;
			}
			&__back {
					padding: 0 42px;
			}
		}
	}
	.result::before {
		background-image: url('../assets/img/2x/desktop_gray@2x.png');
		opacity: 0.50;
	}
}
