extend components/template.pug
block css 
	link(rel="stylesheet", href="css/gracias.css")
block title 
	title ALAISA | GRACIAS 
block contents
	main.gracias
		.breadcrumbs 
			+breadcrumbs("add.html","Entrenamiento", "#","Finalizar")
		section.gracias__main
			.alaisa__isotipo 
			.gracias__main__title: h2 ¡Muchas gracias!
			.gracias__main__parrafo: p Con tu contribución, lograremos grandes cosas...
			+buttons-ancla--verde("Hacer otra contribución", "add.html")
			.gracias__main__back: a(href="index.html") Regresar al inicio
block footer		
	include components/main/footer.pug

