header.header 
	figure 
		img(src='assets/icons/logo_tipografico_alaisa.svg', alt="logo principal alaisa")
	nav.container--header-menu
		ul.header__menu
			li.menu__texto--principal: a(href="#") Inicio 
			li.menu__texto--principal: a(href="#") Modelo
			li.menu__texto--principal: a(href="#") Entrenamiento
			li.menu__texto--principal: a(href="#") Rendimiento
			li.menu__texto--principal: a(href="#") Donativos
			li.menu__texto--principal: a(href="#") Contacto 
		ul.header__menu--secundario
			li.menu__texto--secundario: a(href="#") Aviso de privacidad
			li.menu__texto--secundario: a(href="#") Acerca de 
	img(src="assets/icons/isotipo_alaisa.svg", alt=" imagen virus Alaisa")

