section.hero 
	h1 Evaluación #[span efectiva] del COVID-19 con tecnología en #[span CUU]
	.title__saludo 
		h2 ¡Hola! Soy Alaisa
	h3 Fui creado con la idea de ayudar en los hospitales. 
	.parrafo--hero 
		p Me enseñaron a identificar características en los personas con COVID-19 para saber si los pacientes tienen más posibilidades de darse de alta o de fallecer por esta enfermedad.
	a.button--green(href="./model.html") Comienza aqu&iacute;
		i.material-icons arrow_forward
	.covid-line--light
		i.icon--covid-gray