@use "../global/vars" as v;
@use "../global/mixins" as *;

.content {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	text-align: center;
	padding-top: 80px;
}

.content::before {
	content: "";
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.15;
}

.content::before {
	background-image: url('@images/mobile_gray@2x.png');
}

.margin {
	margin: 0 20px;
}
.no-padding-top {
	padding-top: 0;
}

.no-background::before {
	background-image: none;
}

@include tablet {
	.content {
		padding-top: 165px;
		margin: 0 30px;
		background-image: url('@images/tablet_gray@2x.png');
	}
}

@include desktop {
	.content {
		padding-top: 100px;
		margin: 0 42px;
		background-image: url('@images/desktop_gray@2x.png');
	}
}

@include large {
	.content {
		padding-top: 0 95px;
	}
}