@use "../global/vars" as v;
@use "../global/mixins" as *;

#donativos::before {
	background-image: url('@images/mobile_gray@2x.png');
	opacity: 0.15;
}

@include tablet {
	#donativos::before {
		background-image: url('@images/tablet_gray@2x.png');
	}
}

@include desktop {
	#donativos::before {
		background-image: url('@images/desktop_gray@2x.png');
	}
}