@use "../global/vars" as v;
@use "../global/mixins" as *;

#donativos::before {
	background-image: url('@images/quirofano-mobile@2x-80.jpg');
	opacity: 0.5;
}

@include tablet {
	#donativos::before {
		background-image: url('@images/quirofano-tablet@2x-80.jpg');
	}
}

@include desktop {
	#donativos::before {
		background-image: url('@images/quirofano-desktop@2x-80.jpg');
	}
}