@use "../global/vars" as v;
@use "../global/mixins" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: v.$fuente2;
	scroll-behavior: smooth;
	background-color: v.$white;
	@include dark-mode {
		color: v.$white;
		background-color: v.$dark600;
	}
}

h2 > span {
	color: v.$blue400;
}
p > span {
	color: v.$blue400;
}
div > p {
	position: relative;
	line-height: 140%;
}

/* contenedor general */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	padding-top: 70px;
	color: v.$white;
}
.wrapper::before {
	content: "";
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@include tablet {
	.wrapper {
		padding-top: 130px;
	}
}
@include desktop {
	.wrapper {
		padding-top: 100px;
	}
}
@include large {
	.wrapper {
		padding-top: 95px;
	}
}