@use "../global/vars" as v;
@use "../global/mixins" as *;

.modelo::before {
	background-image: url('@images/virus-mobile@2x-80.jpg');
	opacity: 50%;
}

@include tablet {
	.modelo::before {
		background-image: url('@images/virus-tablet@2x-80.jpg');
		opacity: 30%;
	}
}

@include desktop {
	.modelo::before {
		background-image: url('@images/virus-desktop@2x-80.jpg');
		opacity: 100%;
	}
}