@use "../global/vars" as v;
@use "../global/mixins" as *;

.content::before {
	background-image: url('@images/mobile_gray@2x.png');
}

@include tablet {
	.content::before {
		background-image: url('@images/tablet_gray@2x.png');
	}
}

@include desktop {
	.content::before {
		background-image: url('@images/desktop_gray@2x.png');
	}
}

@include large {
	
}