@import 'components/globales';
@import 'components/headers';
.breadcrumbs {
	a {
		color: $blue500;
		@include dark-mode {
			color: $dark300;
		}
	}
}
.add {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: auto;
	@include dark-mode {
		background-color: $dark600;
	}
	&__main {
		position: relative;
		&__title {
			padding: 0 20px;
			margin: 10px 0;
			text-align: center;
			h3 {
				font-family: $fuente1;
				font-size: 2.1rem;
				color: $dark600;
				@include dark-mode {
					color: $white;
				}
			}
		}
		.formulario {
			display: flex;
			flex-direction: column;
			padding: 0 20px;
			color: $dark600;
			@include dark-mode {
				color: $white;
			}
			&__title {
				font-family: $fuente1;
				font-size: 2.1rem;
				margin: 20px 0 15px 0;
				text-align: center;
			}
			.input {
				margin-bottom: 15px;
			}
			.input:nth-of-type(1) {
				margin: 0 auto 15px auto;
				.input__title {
					font-size: 1.8rem;
					font-weight: bold;
					text-align: center;
					color: $blue500;
				}
				.input-select__place {
					width: 100%;
				}
			}
			.input__title {
				display: block;
				font-size: 1.6rem;
				margin-bottom: 5px;
			}
			.input__select {
				display: block;
				width: 90%;
				height: 25px;
				padding: 0 10px;
				font-weight: 700;
				border: 1px solid $gray400;
				border-radius: 4px;
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
				color: $dark600;
				@include dark-mode {
					border: 1px solid $gray600;
					color: $white;
					background-color: $gray900;
				}
			}
			.input__select:focus {
				box-shadow: 0 4px 4px rgba(3, 101, 140, 0.30);
			}
			.input__select::placeholder {
				font-weight: 200;
				font-style: italic;
				color: $blue500;
				@include dark-mode {
					color: $blue400;
				}
			}
			.input-select__place {
				display: block;
				width: 50%;
				height: 25px;
				padding: 0 10px;
				font-weight: 700;
				border: 1px solid $gray400;
				border-radius: 4px;
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
				color: $blue500;
				@include dark-mode {
					color: $blue400;
					border: 1px solid $gray600;
					background-color: $gray900;
				}
			}
			.content-input {
				display: flex;
				margin: 20px 0 0 0;
				align-items: center;
				justify-content: left;
				input {
					margin-right: 5px;
				}
				span {
					font-family: $fuente1;
					font-size: 1.2rem;
					font-weight: 500;
					a {
						color: $blue300;
					}
				}
			}
			&__button {
				border: none;
				border-radius: 8px;
				width: 100%;
				height: 40px;
				margin: 20px 0;
				padding: 8px;
				font-family: $fuente1;
				font-size: 2.1rem;
				font-weight: bold;
				color: white;
				background-color: $green500;
				@include dark-mode {
					box-shadow: 0 4px 8px rgba(175, 175, 175, 0.3);
					background-color: $green500;
				}
			}
			&__button:hover {
				cursor: pointer;
				background-color: $green600;
				@include dark-mode {
					background-color: $green600;
				}
			}
		}
	}
}
.add::before {
	content: "";
	background-image: url('../assets/img/2x/mobile_gray@2x.png');
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.15;
}

@include tablet {
	.add {
		&__main {
			width: 79%;
			margin: 20px auto 40px auto;
			padding: 35px 50px;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
			background-color: rgba($color: #CEE8F2, $alpha: 0.5);
			@include dark-mode {
				background-color: rgba($color: #141414, $alpha: 0.8);
			}
			&__title {
				padding:0;
				margin: 0 0 15px 0;
				text-align: left;
				h3 {
					font-size: 2.843rem;
				}
			}
			.formulario {
				padding: 0;
				&__title {
					font-size: 2.843rem;
					margin: 25px 0 17px 0;
					text-align: left;
				}
				.input {
					margin-bottom: 20px;
				}
				.input:nth-of-type(1) {
					margin: 0 auto 15px auto;
					width: 50%;
					.input__title {
						font-size: 2.1rem;
					}
				}
				.input__title {
					font-size: 1.8rem;
				}
				.input__select {
					width: 75%;
					height: 30px;
					font-size: 1.6rem;
				}
				.input-select__place {
					height: 30px;
					font-size: 1.6rem;
				}
				.content-input {
					margin: 20px 0 0 0;
					justify-content: center;
					input {
						margin-right: 15px;
					}
					span {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
	.add::before {
		background-image: url('../assets/img/2x/tablet_gray@2x.png');
		opacity: 0.30;
	}
}

@include desktop {
	.add {
		&__main {
			width: 50%;
			padding: 20px 30px;
			background-color: rgba($color: #CEE8F2, $alpha: 0.8);
			@include dark-mode {
				background-color: rgba($color: #141414, $alpha: 0.9);
			}
			&__title {
				margin-bottom: 20px;
				text-align: center;
			}
			.formulario {
				&__title {
					text-align: center;
				}
				.input__select {
					width: 100%;
				}
				.input__title {
					font-size: 1.8rem;
				}
			}
		}
	}
	.add::before {
		background-image: url('../assets/img/2x/desktop_gray@2x.png');
		opacity: 1;
	}
}