extend components/template.pug
block css 
	link(rel="stylesheet", href="css/acerca.css")
block title 
	title ALAISA | acerca de 
block contents
	main.acerca 
		.acerca__title: h2 ¿Qué es #[span Alaisa]? 
		.acerca__main
			.acerca__main__parrafo: p ALAISA es un proyecto de Evaluación de las características sociales, demográficas y clínicas de la población de la ciudad de Chihuahua y su posible relación con la enfermedad causada por el SARS-CoV-2 a través de un modelo de predicción de desenlace de Machine learning.
			.acerca__main__parrafo--primary: p Puedes encontrar la documentación sobre el concepto base para crear “Alaisa” en el siguiente enlace:
			.acerca__main__link: a(href="index.html") Algoritmos y Covid 19
			figure.acerca__main__logo
				img(src="assets/icons/imagotipo_alaisa.svg", alt="")
				img(src="assets/icons/logo_tipografico_alaisa.svg", alt="")
block footer
	include components/main/footer.pug