extend components/template.pug
block css 
	link(rel="stylesheet", href="css/entrenamiento.css")
block title 
	title ALAISA | Entrenamiento
block contents
	main.training
		.breadcrumbs 
			+breadcrumbs("entrenamiento.html", "Entrenamiento")
		section.training__main
			.back-button.light
				a(href="index.html") 
					i.material-icons arrow_back
			.alaisa__isotipo
			.training__main__title: h2 Tu contribución nos ayuda a #[span mejorar] y ser más #[span precisos]
			.training__main__parrafo1: p El proceso es identico a cuando utilizas el modelo para recibir predicciones. Los #[span datos] que ingreses durante el #[span entrenamiento] serán la base para que el modelo #[span identifique] eficientemente los patrones que determinan el desenlace de tu paciente durante la #[span predicción].
			.training__main__parrafo2: h4 Estamos muy agradecidos contigo, tu ayuda hace la diferencia.
			form(action="") 
				label.content-input(for="checkbox-terminos")
					input(type="checkbox", name="checkbox-terminos" id="checkbox-terminos") 
					span He leído y acepto los #[a(href="privacidad.html")  términos y condiciones]
			+buttons-ancla--verde("Comenzar", "add.html")
			.training__main__priv: a(href="privacidad.html") Aviso de privacidad

