extend components/template.pug
block css 
	link(rel="stylesheet", href=".../css/entrenamiento.css")
block title 
	title ALAISA | Entrenamiento
block contents
	section.breadcrumbs 
		+breadcrumbs("entrenamiento.html", "Entrenamiento")
	section.wrapper--acerca
		.back-button--light
			i.material-icons arrow_back
		figure.alaisa__isotipo--blue 
			img(src="/assets/icons/isotipo_alaisa.svg", alt="Virus ALAISA")
		h2.title--entrenamiento Tu contribución nos ayuda a #[span mejorar] y ser más #[span precisos]
		.entrenamiento__parrafo1 
			p El proceso es identico a cuando utilizas el modelo para recibir predicciones. Los #[span datos] que ingreses durante el #[span entrenamiento] serán la base para que el modelo #[span identifique] eficientemente los patrones que determinan el desenlace de tu paciente durante la #[span predicción].
		h4.modelo__parrafo2 Estamos muy agradecidos contigo, tu ayuda hace la diferencia.
		form(action="") 
			label(for="checkbox-terminos") 
				input(type="checkbox", name="checkbox-terminos") 
				span He leído y acepto los #[a(href="#")  términos y condiciones]
		+buttons-ancla--verde("Comenzar", "add.html")
		a(href="#") Aviso de privacidad

