include components/configuration.pug
doctype html
html(lang="es")
	include components/main/head.pug
	body
		.wrapper--message 
			i.material-icons close
			h3.flash__title titulo de la alerta
			p.flash__parrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			+buttons-ancla--verde("Entendido", "#")
