extend components/template.pug
block css 
	link(rel="stylesheet", href="css/index.css")
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css" integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
block title
	title ALAISA | homepage
block contents
	#fullpage
		include components/index/hero-index.pug
		include components/index/modelo-index.pug
		include components/index/entrenamiento-index.pug
		include components/index/desarrollador-index.pug
		include components/index/donativos-index.pug
		include components/index/contacto-index.pug
		include components/main/footer.pug
block scripts	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.js" integrity="sha512-GgeYbSbIufsTDQLCp/zhWN2AJRddt3w9p942+lOS5emAtvRBGo65t2zq8Svq+CIZIo1V1DgA6kHzQTBCH0HiXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	script(src="js/initFullPage.js") 