extend components/template.pug
block css 
	link(rel="stylesheet", href="css/index.css")
block title
	title ALAISA | homepage
block contents
	main
		include components/index/hero-index.pug
		include components/index/modelo-index.pug
		include components/index/entrenamiento-index.pug
		include components/index/desarrollador-index.pug
		include components/index/donativos-index.pug
		include components/index/contacto-index.pug
block footer
	include components/main/footer.pug