extend components/template.pug
block title
	title Alaisa | homepage
block contents
	include components/hero-index.pug
	include components/modelo-index.pug
	include components/entrenamiento-index.pug
	include components/desarrollador-index.pug
	include components/donativos-index.pug
	include components/footer.pug