extend components/template.pug
block css 
	link(rel="stylesheet", href="css/model.css")
block title 
	title ALAISA | modelo
block contents
	main.model
		.breadcrumbs
			+breadcrumbs("model.html", "Modelo")
		section.model__main
			.back-button.light
				a(href="index.html") 
					i.material-icons arrow_back
			.alaisa__isotipo
			.model__main__title: h2 ¡Comencemos!
			.model__main__subtitle: p Recuerda que yo no doy diagnósticos ni tratamientos. 
			.model__main__parrafo1: p Soy una herramienta para que, junto con tu #[span criterio médico], puedas saber la tendencia del desenlace de tu paciente y puedas actuar a partir de eso. Espero poder #[span ayudarte] y que al mismo tiempo me ayudes a mí a #[span aprender] más.#[br]Así, yo voy a poder ayudar a más pacientes y médicos que me necesiten.
			.model__main__parrafo2: h4 Es un placer para mí estar a tus órdenes.
			form(action="") 
				label.content-input(for="checkbox-terminos")
					input(type="checkbox", name="checkbox-terminos" id="checkbox-terminos") 
					span He leído y acepto los #[a(href="privacidad.html")  términos y condiciones]
			+buttons-ancla--verde("Comenzar", "predict.html")
			.model__main__priv: a(href="privacidad.html") Aviso de privacidad

