extend components/template.pug
block css 
	link(rel="stylesheet", href="css/result.css")
block title 
	title ALAISA | Resultado 
block contents
	main.result
		.breadcrumbs 
			+breadcrumbs("model.html","Modelo", "#","Resultado")
		section.result__main
			.alaisa__isotipo 
			.result__main__title: h2 La predicción para el paciente ingresado es:
			.result__main__result: span RESULTADO
			.result__main__parrafo: p Gracias por utilizar nuestro servicio, es un placer ayudar.
			+buttons-ancla--verde("Hacer otra predicción", "predict.html")
			.result__main__back: a(href="index.html") Regresar al inicio
block footer	
	include components/main/footer.pug