header
	i.material-icons#burger-menu.burger-menu menu
	.header--up
		a(href="index.html")
			figure.header--up__logo
				img(src='assets/icons/logo_tipografico_alaisa.svg', alt="logo principal alaisa")
		nav.header--up__nav--desktop
			ul.header__menu--desktop#myMenu
				li(data-menuanchor="1"): a(href="index.html#1") Inicio 
				li: a(href="model.html") Modelo
				li: a(href="entrenamiento.html") Entrenamiento
				li(data-menuanchor="4"): a(href="index.html#4") Rendimiento
				li(data-menuanchor="5"): a(href="index.html#5") Donativos
				li(data-menuanchor="6"): a(href="index.html#6") Contacto 	

	.header
		nav.header__nav--mobile 
			ul.header__menu--mobile#myMenu
				li(data-menuanchor="1"): a.nav-item(href="index.html#1") Inicio 
				li: a.nav-item(href="model.html") Modelo Alaisa
				li: a.nav-item(href="entrenamiento.html") Entrenamiento
				li(data-menuanchor="4"): a.nav-item(href="index.html#4") Estadisticas de Rendimiento
				li(data-menuanchor="5"): a.nav-item(href="index.html#5") Donativos
				li(data-menuanchor="6"): a.nav-item(href="index.html#6") Contacto desarrolladores
			ul.header__menu--secondary
				li: a.nav-item(href="privacidad.html") Aviso de privacidad
				li: a.nav-item(href="acerca.html") Acerca de 
		.imagotipo
			img(src="assets/icons/isotipo_alaisa--white.svg", alt=" imagen virus Alaisa")

