.entrenamiento {
	text-align: center;
	&__title {
		padding: 0 20px;
		margin-bottom: 15px;
		font-family: $fuente1;
		h2 {
			font-size: 3.79rem;
			line-height: 120%;
		}
	}
	&__main {
		&__parrafo--one {
			margin-bottom: 20px;
			padding: 0 60px;
			p {
				font-size: 1.8rem;
				font-weight: bold;
			}
		}
		&__parrafo--two {
			margin-bottom: 20px;
			padding: 0 60px;
			p {
				font-size: 1.6rem;
			}
		}
		&__parrafo--three {
			margin-bottom: 15px;
			padding: 0 20px;
			p {
				font-family: $fuente1;
				font-size: 2.1rem;
				font-weight: bold;
			}
		}
		&__parrafo--four {
			padding: 0 20px;
			p {
				font-size: 1.2rem;
			}
		}
	}
}

.entrenamiento::before {
	background-image: url('../assets/img/2x/mobile_gray@2x.png');
	opacity: 0.15;
}

@include tablet {
	.entrenamiento {
		padding-top: 155px;
		&__title {
			padding: 0 150px;
			margin-bottom: 50px;
			h2 {
				font-size: 6.734rem;
			}
		}
		&__main { 
			&__parrafo--one {
				padding: 0 84px;
				margin-bottom: 40px;
				p {
					font-size: 3.79rem;
				}
			}
			&__parrafo--two {
				padding: 0 133px;
				margin-bottom: 45px;
				p {
					font-size: 2.1rem;
				}
			}
			&__parrafo--three {
				padding: 0 30px;
				margin-bottom: 15px;
				p {
					font-size: 2.843rem;
				}
			}
			&__parrafo--four {
				padding: 0 133px;
				margin-bottom: 20px;
				p {
					font-size: 2.1rem;
				}
			}
		}
	}
	.entrenamiento::before {
		background-image: url('../assets/img/2x/tablet_gray@2x.png');
	}
}
@include desktop {
	.entrenamiento {
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding-top: 100px;
		&__title {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 90%;
			padding: 0;
			margin-right: 42px;
			border-left: 1px solid $white;
			background: rgb(1,46,64);
			background: linear-gradient(90deg, rgba(1,46,64,1) 0%, rgba(1,21,38,1) 100%);
			h2 {
				font-size: 5.017rem;
			}
		}
		&__main {
			width: 50%;
			margin-left: 42px;
			padding-right: 15px;
			&__parrafo--one {
				padding: 0;
				margin-bottom: 20px;
				p {
					font-size: 2.132rem;
				}
			}
			&__parrafo--two {
				padding: 0;
				margin-bottom: 20px;
				p {
					font-size: 1.8rem;
				}
			}
			&__parrafo--trhee {
				padding: 0;
				margin: 20px;
				p {
					font-size: 2.132rem;
				}
			}
			&__parrafo--four {
				padding: 0; 
				margin-bottom: 15px;
				p {
					font-size: 1.8rem;
				}
			}
		}
	}
	.entrenamiento::before {
		background-image: url('../assets/img/2x/desktop_gray@2x.png');
	}
}
@include large {
	.entrenamiento {
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding-top: 100px;
		&__title {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 90%;
			padding: 0;
			margin-right: 42px;
			border-left: 1px solid $white;
			background: rgb(1,46,64);
			background: linear-gradient(90deg, rgba(1,46,64,1) 0%, rgba(1,21,38,1) 100%);
			h2 {
				font-size: 6.739rem;
			}
		}
		&__main {
			width: 50%;
			margin-left: 42px;
			padding-right: 15px;
			&__parrafo--one {
				padding: 0;
				margin-bottom: 20px;
				p {
					font-size: 3.79rem;
				}
			}
			&__parrafo--two {
				padding: 0;
				margin-bottom: 20px;
				p {
					font-size: 2.1rem;
				}
			}
			&__parrafo--trhee {
				padding: 0;
				margin: 20px;
				p {
					font-size: 2.843rem;
				}
			}
			&__parrafo--four {
				padding: 0; 
				margin-bottom: 15px;
				p {
					font-size: 1.8rem;
				}
			}
		}
	}
}