.header {
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	top: 15px;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 50px;
	padding: 0 20px;
	font-family: $fuente1;
	background-color: $blue600;

	&__logo {
		width: 156px;
		height: auto;
		img {
			width: 100%;
		}
	}
	&__nav--desktop {
		display: none;
	}
	&__nav--mobile {
		display: none;
		margin-top: 95px;
		.header__menu {
			margin-bottom: 45px;
			font-size: 2.1rem;
			font-weight: bold;
		}
	}
	&__menu{
		list-style: none;
		border-left: 2px  solid rgba($color: $white, $alpha: 0.6);
		li {
			margin: 0 0 25px 20px;
		}
		li:nth-of-type(6) {
			margin-bottom: 0;
		}
		li a{
			display: block;
			width: 100%;
			text-decoration: none;
			color: $white;
		}
		a:hover {
			color: $blue300;
		}
	}	
	&__menu--secondary {
		list-style: none;
		margin-left: 20px;
		font-size: 1.6rem;
		font-weight: bold;
		font-style: italic;
		li {
			margin-bottom: 5px;
			a {
				color: $blue300;
			}
			a:hover {
				color: $white;
			}
		}
	}
	.burger-menu {
		font-size: 30px;
		padding: 5px;
		border-radius: 50%;
		color:$white;
		background-color: $blue500;
	}
	.imagotipo {
		display: none;
		width: 100%;
		margin-bottom: 84px;
		img {
			width: 98px;
			height: 98px;
		}
	}
}

.is-active {
	top:0;
	display: flex;
	place-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $blue500;
	.header__logo {
		display: none;
	}
	.header__nav--mobile {
		display: flex;
		flex-direction: column;
	}
	.burger-menu {
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.imagotipo {
		display: flex;
		justify-content: flex-end;
	}
}

