.header--up {
	display: flex;
	position: fixed;
	top: 15px;
	z-index: 1;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 50px;
	padding: 0 20px;
	box-shadow: 0 4px 8px rgba(13, 13, 13, 0.4);
	font-family: $fuente1;
	background-color: $blue600;
	&__logo {
		display: flex;
		align-items: center;
		width: 160px;
		height: auto;
		align-self: center;
		img {
			width: 100%;
		}
	}
	&__nav--desktop {
		display: none;
	}
	.burger-menu {
		font-size: 30px;
		padding: 5px;
		border-radius: 50%;
		color:$white;
		background-color: $blue500;
	}
}

.header {
	display: hidden;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	padding: 0 20px;
	font-family: $fuente1;
	background-color: $blue500;
	opacity: 0;
	transition: .3s;
	&__nav--mobile {
		display: none;
		flex-direction: column;
		margin-top: 95px;
		.header__menu {
			margin-bottom: 45px;
			font-size: 2.1rem;
			font-weight: bold;
		}
	}
	&__menu{
		list-style: none;
		border-left: 2px  solid rgba($color: $white, $alpha: 0.6);
		li {
			margin: 0 0 25px 20px;
		}
		li:nth-of-type(6) {
			margin-bottom: 0;
		}
		li a{
			display: block;
			width: 100%;
			text-decoration: none;
			color: $white;
		}
		a:hover {
			color: $blue300;
		}
	}	
	&__menu--secondary {
		list-style: none;
		margin-left: 20px;
		font-size: 1.6rem;
		font-weight: bold;
		font-style: italic;
		li {
			margin-bottom: 5px;
			a {
				color: $blue300;
			}
			a:hover {
				color: $white;
			}
		}
	}
	.burger-menu {
		display: none;
		position: absolute;
		right: 20px;
		top: 20px;
		padding: 5px;
		border-radius: 50%;
		font-size: 30px;
		color:$white;
		background-color: $blue500;
	}
	.imagotipo {
		display: none;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: 84px;
		img {
			width: 98px;
			height: 98px;
		}
	}
}

.header--up.is-active {
	display: none;
}

.header.is-active {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	opacity: 0.95;
	.header__nav--mobile {
		display: flex;
	}
	.burger-menu {
		display: block;
	}
	.imagotipo {
		display: flex;
	}
}

