.hero {
	&__title {
		position: relative;
		padding: 0 20px;
		margin-bottom: 20px;
		h1 {
			font-family: $fuente1;
			font-size: 3.79rem;
			font-weight: bold;
			line-height: 120%;
		}
		span {
			color: $blue400;
		}
	}
	&__saludo {
		display: flex;
		position: relative;
		height: 45px;
		margin-bottom: 20px;
		place-items: center;
		background-color: $blue500;
		h2 {
			width: 100%;
			font-family: $fuente1;
			font-size: 2.843rem;
			text-align: center;
		}
	}
	&__subtitle {
		margin-bottom: 13px;
		h3 {	
			position: relative;
			text-align: center;
			font-size: 2.1rem;
			padding: 0 55px;
		}
	}
	&__parrafo--button {
		margin: 0 20px;
		height: auto;
		padding: 20px;
		border-radius: 10px;
		background: rgb(3,101,140);
		background: linear-gradient(180deg, rgba(3,101,140,0.3) 0%, rgba(3,101,140,0) 100%);
		p {
			font-size: 1.6rem;
			text-align: center;
			line-height: 140%;
		}
	}
}
.hero::before {
	background-image: url('../assets/img/2x/mobile_gray@2x.png');
	opacity: 0.15;
}

.button--green:hover {
	background-color: $green600;
}

@include tablet {
	.hero {
		width: 100%;
		padding-top: 165px;
		&__title {
			max-width: inherit;
			padding: 0 30px;
			margin-bottom: 60px;
			h1 {
				font-size: 6.734rem;
			}
		}
		&__saludo {
			height: 90px;
			margin-bottom: 25px;
			h2 {
				font-size: 5.052rem;
			}
		}
		&__subtitle {
			margin-bottom: 25px;
			h3 {
				padding: 0 131px;
				font-size: 3.79rem;
			}
		}
		&__parrafo--button {
			margin: 0 30px 44px 30px;
			p {
				font-size: 2.4rem;
			}
		}
	}
	.hero::before {
		background-image: url('../assets/img/2x/tablet_gray@2x.png');
	}
}

@include desktop {
	.hero {
		padding-top: 104px;
		&__title {
			max-width: 1000px;
			margin-bottom: 20px;
			padding: 0 0 0 42px;
			h1 {
				font-size: 5.017rem;
			}
		}
		&__saludo {
			height: 60px;
			margin-bottom: 20px;
			h2 {
				font-size: 2.843rem;
			}
		}
		&__subtitle {
			margin-bottom: 20px;
			h3 {
				font-size: 2.843rem;
			}
		}
		&__parrafo--button {
			max-width: 850px;
			padding: 0;
			margin: 0 auto 15px auto;
			background: none;
			p {
				font-size: 1.8rem;
			}
		}
	}
	.hero::before {
		background-image: url('../assets/img/2x/desktop_gray@2x.png');	
	}
}

@include large {
	.hero {
		&__title {
			h1 {
				font-size: 6.734rem;
			}
		}
		&__saludo {
			h2 {
				font-size: 3.79rem;
			}
		}
		&__subtitle {
			h3 {
				font-size: 2.843rem;
			}
		}
		&__parrafo--button {
			max-width: 950px;
			p {
				font-size: 2.4rem;
			}
		}
	}
}