section#contacto
	.contacto__title-container
		h2.title--contacto Conoce a los #[span contribuidores] de este proyecto:
	.contacto__description-container 
		article.contato-card 
			.contacto__informacion 
				p.card__title Alan Hern&eacute;ndez
				p.card__parrafo Desarrollador de la red neuronal Alaisa.
				p.card__correo: a(href="#") alanhernandezgalvan@gmail.com
			.contacto__redes
				img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
				img(src="./assets/icons/github_logo.svg", alt="github")
			.contacto__image
				img(src="./assets/icons/Instagram_logo.png", alt="imagen del desarrollador")
		article.contato-card 
			.contacto__informacion 
				p.card__title Alan Hern&eacute;ndez
				p.card__parrafo Desarrollador de la red neuronal Alaisa.
				p.card__correo: a(href="#") alanhernandezgalvan@gmail.com
			.contacto__redes
				img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
				img(src="./assets/icons/github_logo.svg", alt="github")
			.contacto__image
				img(src="./assets/icons/Instagram_logo.png", alt="imagen del desarrollador")
		article.contato-card 
			.contacto__informacion 
				p.card__title Alan Hern&eacute;ndez
				p.card__parrafo Desarrollador de la red neuronal Alaisa.
				p.card__correo: a(href="#") alanhernandezgalvan@gmail.com
			.contacto__redes
				img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
				img(src="./assets/icons/github_logo.svg", alt="github")
			.contacto__image
				img(src="./assets/icons/Instagram_logo.png", alt="imagen del desarrollador")
		