section.contacto#contacto
	.contacto__title
		h2 Conoce a los #[span contribuidores] de este proyecto:
	.card
		article
			.card__info 
				.card__info__title: p  Alan Hern&aacute;ndez
				.card__info__parrafo: p Desarrollador de la red neuronal Alaisa.
				.card__info__correo: a(href="#") alanhernandezgalvan@gmail.com
				.card__info__redes
					img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
					img(src="./assets/icons/github_logo.svg", alt="github")
			.card__info__image
				img(src="./assets/img/2x/alan-dev.jpeg", alt="imagen del desarrollador")
	.card
		article
			.card__info 
				.card__info__title: p  Luis Fernández
				.card__info__parrafo: p Diseñador de la interfaz y Frontend.
				.card__info__correo: a(href="#") luis.fer9980@gmail.com
				.card__info__redes
					img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
					img(src="./assets/icons/github_logo.svg", alt="github")
			.card__info__image
				img(src="./assets/img/2x/luis-dev.jpg", alt="imagen del desarrollador")
