section.contacto.wrapper#contacto
	.contacto__title
		h2 Conoce a los #[span contribuidores] de este proyecto:
	.contacto__cards
		article.card
			.card__info 
				.card__info__title: p  Alan Hern&aacute;ndez
				.card__info__parrafo: p Desarrollador de la red neuronal Alaisa.
				.card__info__correo: a(href="mailto:alanhernandezgalvan@gmail.com") alanhernandezgalvan@gmail.com
				.card__info__redes
					a(href="https://www.linkedin.com/in/jesusalanhernandezgalvan/"): img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
					a(href="https://github.com/unlikeghost"): img(src="./assets/icons/github_logo.svg", alt="github")
			.card__image
				img(src="./assets/img/2x/alan-dev.jpg", alt="imagen del desarrollador")

		article.card
			.card__info 
				.card__info__title: p  Luis Fernández
				.card__info__parrafo: p Diseñador de la interfaz y Frontend.
				.card__info__correo: a(href="mailto:luis.fer9980@gmail.com") luis.fer9980@gmail.com
				.card__info__redes
					a(href="www.linkedin.com/in/lfer9980"): img(src="./assets/icons/linkedin_logo.svg", alt="Linkedin")
					a(href="https://github.com/lfer9980"): img(src="./assets/icons/github_logo.svg", alt="github")
			.card__image
				img(src="./assets/img/2x/luis-dev.jpg", alt="imagen del desarrollador")
