section.desarrollador.wrapper#metricas
	.desarrollador__title
		h2 Un #[span modelo] efectivo y #[span preciso.]
	.desarrollador__subtitle
		p Conoce los resultados de las pruebas de rendimiento hechas por los desarrolladores de Alaisa
	.desarrollador__table
		table.wrapper--tabla
			thead 
				tr
					th 
					th precision
					th recall
					th f1-score
					th support
			tbody 
				tr 
					th 0.0
					td 0.92
					td 0.96
					td 0.94
					td 24
				tr
					th 1.0
					td 0.96
					td 0.92
					td 0.94
					td 24
				tr 
					th ACC*
					td
					td
					td 0.94
					td 48
				tr 
					th MCAVG*
					td 0.94
					td 0.94
					td 0.94
					td 48
				tr
					th WAVG*
					td 0.94
					td 0.94
					td 0.94
					td 48
		.wrapper--side-info
			p #[b *ACC] = Accuracy
			p #[b *MCAVG] = Macro Average
			p #[b *WAVG] = Weight Average
	.fecha
		p Fecha de la ultima actualización:
		.fecha__main
			span 30 de jun 2021
	i.material-icons.arrow-drop-down arrow_drop_down
	.covid-line--light
		i.icon--covid-gray