section.donativos.wrapper#donativos
	.donativos__title 
		h2 #[span Ay&uacute;danos] a crear m&aacute;s cosas #[span incre&iacute;bles]...
	.donativos__parrafo1: p Puedes ayudarnos much&iacute;simo, aportando a trav&eacute;s de:
	.donativos--wrapper
		article
			figure.donativos__image
				img(src="./assets/icons/coffee_logo.png", alt="Logo de Buy Me a Coffee")
			.donativos__main
				p.main__title ¡Inv&iacute;tanos un caf&eacute;!
				p.main__parrafo Tus aportaciones ser&aacute;n de gran ayuda, gente como t&uacute; es capaz de cambiar al mundo...
				.button--coffee: a(href="https://www.buymeacoffee.com/")  Donar
		article
			.donativos__main
				p.main__title Patreon
				p.main__parrafo ¿No te gusta Buy me a coffee?... no te preocupes, puedes hacerlo a trav&eacute;s de Patreon
				.button--patreon: a(href="https://www.patreon.com/")  Donar
			figure.donativos__image
				img(src="./assets/icons/patreon_logo.png", alt="Logo de patreon")
	.donativos__parrafo2: p Estamos muy agradecidos por tu apoyo. 
	.donativos__parrafo3: p Si no puedes donar no te preocupes, la labor que haces cada d&iacute;a como personal de salud es la que hace la diferencia #[br] #[b ¡Ustedes son los Héroes!]
	i.material-icons.arrow-drop-down arrow_drop_down
	.covid-line--light
		i.icon--covid-gray


