section.entrenamiento#entrenamiento 
	.entrenamiento__title 
		h2 Ayuda a #[span Alaisa] a mejorar en sus predicciones
	.entrenamiento__main
		.entrenamiento__main__parrafo--one: p Se parte de la #[span comunidad] de usuarios que ayudan a mejorar las predicciones del modelo.
		.entrenamiento__main__parrafo--two: p ¡Tu contribución, acelera exponencialmente la recolección de datos que sirven para #[span entrenar] a la red neuronal y #[span mejorar] la calidad de sus predicciones!
		.entrenamiento__main__parrafo--three: p Para #[span contribuir], solo debes entrar al entrenamiento
		.entrenamiento__main__parrafo--four: p No te preocupes, el proceso es el mismo a cuando utilizas el modelo para recibir predicciones.
		+buttons-ancla--verde("iniciar Entrenamiento", "entrenamiento.html")
	i.material-icons.arrow-drop-down arrow_drop_down
	.covid-line--light
		i.icon--covid-gray
