section.entrenamiento#entrenamiento 
	.entrenamiento__informacion 
		p.informacion__parrafo1 Se parte de la #[span comunidad] de usuarios que ayudan a mejorar las predicciones del modelo.
		p.informacion__parrafo2 ¡Tu contribución, acelera exponencialmente la recolección de datos que sirven para #[span entrenar] a la red neuronal y #[span mejorar] la calidad de sus predicciones!
		p.informacion__parrafo3 #[b Para #[span contribuir], solo debes entrar al entrenamiento]
		p.informacion__parrafo4 No te preocupes, el proceso es el mismo a cuando utilizas el modelo para recibir predicciones.
		+buttons-ancla--verde("iniciar Entrenamiento", "entrenamiento.html")
	.entrenamiento__title 
		h2 Ayuda a #[span Alaisa] a mejorar en sus predicciones
	.covid-line--light
		i.icon--covid-gray
	