section.hero#hero
	.hero__title 
		h1 Evaluación #[span efectiva] del COVID-19 con tecnología en #[span CUU].
	.hero__saludo 
		h2 ¡Hola! Soy Alaisa
	.hero__subtitle
		h3 Fui creado con la idea de ayudar en los hospitales. 
	.hero__parrafo--button 
		p Me enseñaron a identificar características en los personas con #[strong  COVID-19] para saber si los pacientes tienen más posibilidades de darse de alta o de fallecer por esta enfermedad.
	+buttons-ancla--verde("Comienza aquí", "model.html")
	i.material-icons.arrow-drop-down arrow_drop_down