section.modelo#modelo
	.modelo__title 
		h2 #[span Alaisa] puede ayudarte a tomar #[span mejores] decisiones para el paciente
	.modelo__main
		.modelo__main__parrafo.one: p Sobre todo si tienes muchos y tienes que decidir si alguno necesita m&aacute;s atenci&oacute;n, recursos o una cama en UCI.
		.modelo__main__parrafo.two: p De hecho, en diferentes estudios se ha visto que los programas como yo llegan a ser más confiables que algunas escalas que usas como #[strong APACHE, qSOFA o CURB-65...] por mencionar algunas.
		.modelo__main__subtitle: p ¡Empieza a utilizar la herramienta!
		+buttons-ancla--verde("Entrar al modelo", "model.html")
	i.material-icons.arrow-drop-down arrow_drop_down
	.covid-line--light
		i.icon--covid-gray